.s512.alnum                      {
    background-image: url("512x512/alnum.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.alnum.ampersand3           { background-position:   -0px   -0px; }
.s512.alnum.asterisk             { background-position:   -0px -512px; }
.s512.alnum.at-sign              { background-position:   -0px -1024px; }
.s512.alnum.back-slash           { background-position:   -0px -1536px; }
.s512.alnum.boxed-x2             { background-position:   -0px -2048px; }
.s512.alnum.boxed-x4             { background-position:   -0px -2560px; }
.s512.alnum.bracket-curley       { background-position:   -0px -3072px; }
.s512.alnum.bracket-curley1      { background-position:   -0px -3584px; }
.s512.alnum.bracket-curley2      { background-position:   -0px -4096px; }
.s512.alnum.bracket-staight1     { background-position:   -0px -4608px; }
.s512.alnum.bracket-staight2     { background-position:   -0px -5120px; }
.s512.alnum.bracket-straight     { background-position:   -0px -5632px; }
.s512.alnum.caret                { background-position:   -0px -6144px; }
.s512.alnum.caret1               { background-position:   -0px -6656px; }
.s512.alnum.circled-x            { background-position:   -0px -7168px; }
.s512.alnum.circled-x2           { background-position:   -0px -7680px; }
.s512.alnum.circled-x3           { background-position:   -0px -8192px; }
.s512.alnum.circled-x4           { background-position:   -0px -8704px; }
.s512.alnum.colon                { background-position:   -0px -9216px; }
.s512.alnum.comma                { background-position:   -0px -9728px; }
.s512.alnum.crossing             { background-position:   -0px -10240px; }
.s512.alnum.dollar-sign          { background-position:   -0px -10752px; }
.s512.alnum.equal-sign           { background-position:   -0px -11264px; }
.s512.alnum.exclamation-point-ps { background-position:   -0px -11776px; }
.s512.alnum.exclamation-point1   { background-position:   -0px -12288px; }
.s512.alnum.font-size            { background-position:   -0px -12800px; }
.s512.alnum.http1                { background-position:   -0px -13312px; }
.s512.alnum.icon_002             { background-position:   -0px -13824px; }
.s512.alnum.icon_091             { background-position:   -0px -14336px; }
.s512.alnum.icon_103             { background-position:   -0px -14848px; }
.s512.alnum.information          { background-position:   -0px -15360px; }
.s512.alnum.information1         { background-position:   -0px -15872px; }
.s512.alnum.information2-ps      { background-position:   -0px -16384px; }
.s512.alnum.information3-sc49    { background-position:   -0px -16896px; }
.s512.alnum.information4-sc49    { background-position:   -0px -17408px; }
.s512.alnum.less-than            { background-position:   -0px -17920px; }
.s512.alnum.letter-a             { background-position:   -0px -18432px; }
.s512.alnum.letter-aa            { background-position:   -0px -18944px; }
.s512.alnum.letter-b             { background-position:   -0px -19456px; }
.s512.alnum.letter-bb            { background-position:   -0px -19968px; }
.s512.alnum.letter-c             { background-position:   -0px -20480px; }
.s512.alnum.letter-cc            { background-position:   -0px -20992px; }
.s512.alnum.letter-d             { background-position:   -0px -21504px; }
.s512.alnum.letter-dd            { background-position:   -0px -22016px; }
.s512.alnum.letter-e             { background-position:   -0px -22528px; }
.s512.alnum.letter-ee            { background-position:   -0px -23040px; }
.s512.alnum.letter-f             { background-position:   -0px -23552px; }
.s512.alnum.letter-ff            { background-position:   -0px -24064px; }
.s512.alnum.letter-g             { background-position:   -0px -24576px; }
.s512.alnum.letter-gg            { background-position:   -0px -25088px; }
.s512.alnum.letter-h             { background-position:   -0px -25600px; }
.s512.alnum.letter-hh            { background-position:   -0px -26112px; }
.s512.alnum.letter-i             { background-position:   -0px -26624px; }
.s512.alnum.letter-ii            { background-position:   -0px -27136px; }
.s512.alnum.letter-j             { background-position:   -0px -27648px; }
.s512.alnum.letter-jj            { background-position:   -0px -28160px; }
.s512.alnum.letter-k             { background-position:   -0px -28672px; }
.s512.alnum.letter-kk            { background-position:   -0px -29184px; }
.s512.alnum.letter-l             { background-position:   -0px -29696px; }
.s512.alnum.letter-ll            { background-position:   -0px -30208px; }
.s512.alnum.letter-m             { background-position:   -0px -30720px; }
.s512.alnum.letter-mm            { background-position:   -0px -31232px; }
.s512.alnum.letter-n             { background-position:   -0px -31744px; }
.s512.alnum.letter-nn            { background-position:   -0px -32256px; }
.s512.alnum.letter-o             { background-position:   -0px -32768px; }
.s512.alnum.letter-oo            { background-position:   -0px -33280px; }
.s512.alnum.letter-p             { background-position:   -0px -33792px; }
.s512.alnum.letter-pp            { background-position:   -0px -34304px; }
.s512.alnum.letter-q             { background-position:   -0px -34816px; }
.s512.alnum.letter-qq            { background-position:   -0px -35328px; }
.s512.alnum.letter-r             { background-position:   -0px -35840px; }
.s512.alnum.letter-rr            { background-position:   -0px -36352px; }
.s512.alnum.letter-s             { background-position:   -0px -36864px; }
.s512.alnum.letter-ss            { background-position:   -0px -37376px; }
.s512.alnum.letter-t             { background-position:   -0px -37888px; }
.s512.alnum.letter-tt            { background-position:   -0px -38400px; }
.s512.alnum.letter-u             { background-position:   -0px -38912px; }
.s512.alnum.letter-uu            { background-position:   -0px -39424px; }
.s512.alnum.letter-v             { background-position:   -0px -39936px; }
.s512.alnum.letter-vv            { background-position:   -0px -40448px; }
.s512.alnum.letter-w             { background-position:   -0px -40960px; }
.s512.alnum.letter-ww            { background-position:   -0px -41472px; }
.s512.alnum.letter-x             { background-position:   -0px -41984px; }
.s512.alnum.letter-xx            { background-position:   -0px -42496px; }
.s512.alnum.letter-y             { background-position:   -0px -43008px; }
.s512.alnum.letter-yy            { background-position:   -0px -43520px; }
.s512.alnum.letter-z             { background-position:   -0px -44032px; }
.s512.alnum.letter-zz            { background-position:   -0px -44544px; }
.s512.alnum.m00-clear            { background-position:   -0px -45056px; }
.s512.alnum.m01-clear            { background-position:   -0px -45568px; }
.s512.alnum.m02-clear            { background-position:   -0px -46080px; }
.s512.alnum.m03-clear            { background-position:   -0px -46592px; }
.s512.alnum.m04-clear            { background-position:   -0px -47104px; }
.s512.alnum.m05-clear            { background-position:   -0px -47616px; }
.s512.alnum.m06-clear            { background-position:   -0px -48128px; }
.s512.alnum.m07-clear            { background-position:   -0px -48640px; }
.s512.alnum.m08-clear            { background-position:   -0px -49152px; }
.s512.alnum.m09-clear            { background-position:   -0px -49664px; }
.s512.alnum.m10-clear            { background-position:   -0px -50176px; }
.s512.alnum.minus-sign-simple    { background-position:   -0px -50688px; }
.s512.alnum.minus-sign5          { background-position:   -0px -51200px; }
.s512.alnum.more-than            { background-position:   -0px -51712px; }
.s512.alnum.n0-solid             { background-position:   -0px -52224px; }
.s512.alnum.n1-solid             { background-position:   -0px -52736px; }
.s512.alnum.n10-solid            { background-position:   -0px -53248px; }
.s512.alnum.n2-solid             { background-position:   -0px -53760px; }
.s512.alnum.n3-solid             { background-position:   -0px -54272px; }
.s512.alnum.n4-solid             { background-position:   -0px -54784px; }
.s512.alnum.n5-solid             { background-position:   -0px -55296px; }
.s512.alnum.n6-solid             { background-position:   -0px -55808px; }
.s512.alnum.n7-solid             { background-position:   -0px -56320px; }
.s512.alnum.n8-solid             { background-position:   -0px -56832px; }
.s512.alnum.n9-solid             { background-position:   -0px -57344px; }
.s512.alnum.number-1             { background-position:   -0px -57856px; }
.s512.alnum.number-2             { background-position:   -0px -58368px; }
.s512.alnum.number-3             { background-position:   -0px -58880px; }
.s512.alnum.number-4             { background-position:   -0px -59392px; }
.s512.alnum.number-5             { background-position:   -0px -59904px; }
.s512.alnum.number-6             { background-position:   -0px -60416px; }
.s512.alnum.number-7             { background-position:   -0px -60928px; }
.s512.alnum.number-8             { background-position:   -0px -61440px; }
.s512.alnum.number-9             { background-position:   -0px -61952px; }
.s512.alnum.number-sign          { background-position:   -0px -62464px; }
.s512.alnum.parenthesis1         { background-position:   -0px -62976px; }
.s512.alnum.parenthesis2         { background-position:   -0px -63488px; }
.s512.alnum.percent-sign         { background-position:   -0px -64000px; }
.s512.alnum.plus-sign-clear      { background-position:   -0px -64512px; }
.s512.alnum.plus-sign-simple     { background-position:   -0px -65024px; }
.s512.alnum.plus-sign-solid      { background-position:   -0px -65536px; }
.s512.alnum.plus-sign            { background-position:   -0px -66048px; }
.s512.alnum.plus-sign3-sc48      { background-position:   -0px -66560px; }
.s512.alnum.plussign1            { background-position:   -0px -67072px; }
.s512.alnum.question-mark        { background-position:   -0px -67584px; }
.s512.alnum.question-mark1-ps    { background-position:   -0px -68096px; }
.s512.alnum.question-mark3       { background-position:   -0px -68608px; }
.s512.alnum.quote-close1         { background-position:   -0px -69120px; }
.s512.alnum.quote-close2         { background-position:   -0px -69632px; }
.s512.alnum.quote-open1          { background-position:   -0px -70144px; }
.s512.alnum.quote-open2          { background-position:   -0px -70656px; }
.s512.alnum.vertical-line        { background-position:   -0px -71168px; }
.s512.alnum.word-ok1-sc49        { background-position:   -0px -71680px; }
.s512.alnum.word-sos1-sc49       { background-position:   -0px -72192px; }
.s512.alnum.www1                 { background-position:   -0px -72704px; }
.s512.alnum.x-big-ps             { background-position:   -0px -73216px; }
.s512.alnum.x-mark               { background-position:   -0px -73728px; }
.s512.alnum.x-solid              { background-position:   -0px -74240px; }
.s512.alnum.x-styled             { background-position:   -0px -74752px; }
