.s512.animals                      {
    background-image: url("512x512/animals.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.animals.animal-antz          { background-position:   -0px   -0px; }
.s512.animals.animal-bear          { background-position:   -0px -512px; }
.s512.animals.animal-bear3         { background-position:   -0px -1024px; }
.s512.animals.animal-bear4-sc44    { background-position:   -0px -1536px; }
.s512.animals.animal-bird          { background-position:   -0px -2048px; }
.s512.animals.animal-bird11-sc48   { background-position:   -0px -2560px; }
.s512.animals.animal-bird2         { background-position:   -0px -3072px; }
.s512.animals.animal-bird4-sc44    { background-position:   -0px -3584px; }
.s512.animals.animal-bird5-sc44    { background-position:   -0px -4096px; }
.s512.animals.animal-bird6-sc44    { background-position:   -0px -4608px; }
.s512.animals.animal-bird7-sc44    { background-position:   -0px -5120px; }
.s512.animals.animal-bird8-sc45    { background-position:   -0px -5632px; }
.s512.animals.animal-birdie1       { background-position:   -0px -6144px; }
.s512.animals.animal-bull-face     { background-position:   -0px -6656px; }
.s512.animals.animal-bull1-sc44    { background-position:   -0px -7168px; }
.s512.animals.animal-butterfly2    { background-position:   -0px -7680px; }
.s512.animals.animal-butterfly3    { background-position:   -0px -8192px; }
.s512.animals.animal-butterfly5-sc48 { background-position:   -0px -8704px; }
.s512.animals.animal-camel         { background-position:   -0px -9216px; }
.s512.animals.animal-camel2-sc36   { background-position:   -0px -9728px; }
.s512.animals.animal-cat-print     { background-position:   -0px -10240px; }
.s512.animals.animal-cat1          { background-position:   -0px -10752px; }
.s512.animals.animal-cat18         { background-position:   -0px -11264px; }
.s512.animals.animal-cat20         { background-position:   -0px -11776px; }
.s512.animals.animal-cat21         { background-position:   -0px -12288px; }
.s512.animals.animal-cat26         { background-position:   -0px -12800px; }
.s512.animals.animal-cat27         { background-position:   -0px -13312px; }
.s512.animals.animal-cat28         { background-position:   -0px -13824px; }
.s512.animals.animal-cat3          { background-position:   -0px -14336px; }
.s512.animals.animal-cat4          { background-position:   -0px -14848px; }
.s512.animals.animal-cat5-sc22     { background-position:   -0px -15360px; }
.s512.animals.animal-cat6          { background-position:   -0px -15872px; }
.s512.animals.animal-cat7          { background-position:   -0px -16384px; }
.s512.animals.animal-cow1          { background-position:   -0px -16896px; }
.s512.animals.animal-cow2          { background-position:   -0px -17408px; }
.s512.animals.animal-crab2         { background-position:   -0px -17920px; }
.s512.animals.animal-crocodile-sc43 { background-position:   -0px -18432px; }
.s512.animals.animal-deer1         { background-position:   -0px -18944px; }
.s512.animals.animal-deer2         { background-position:   -0px -19456px; }
.s512.animals.animal-deer4-sc44    { background-position:   -0px -19968px; }
.s512.animals.animal-dinosaur1     { background-position:   -0px -20480px; }
.s512.animals.animal-dinosaur2     { background-position:   -0px -20992px; }
.s512.animals.animal-dinosaur3     { background-position:   -0px -21504px; }
.s512.animals.animal-dinosaur4     { background-position:   -0px -22016px; }
.s512.animals.animal-dog-print     { background-position:   -0px -22528px; }
.s512.animals.animal-dog1          { background-position:   -0px -23040px; }
.s512.animals.animal-dog2          { background-position:   -0px -23552px; }
.s512.animals.animal-dog3          { background-position:   -0px -24064px; }
.s512.animals.animal-dog4          { background-position:   -0px -24576px; }
.s512.animals.animal-dog5-sc44     { background-position:   -0px -25088px; }
.s512.animals.animal-dragon1       { background-position:   -0px -25600px; }
.s512.animals.animal-dragon2       { background-position:   -0px -26112px; }
.s512.animals.animal-dragon3-sc28  { background-position:   -0px -26624px; }
.s512.animals.animal-dragon4-sc28  { background-position:   -0px -27136px; }
.s512.animals.animal-dragon5-sc28  { background-position:   -0px -27648px; }
.s512.animals.animal-dragonfly1-sc43 { background-position:   -0px -28160px; }
.s512.animals.animal-duck2-sc43    { background-position:   -0px -28672px; }
.s512.animals.animal-duck4         { background-position:   -0px -29184px; }
.s512.animals.animal-elephant      { background-position:   -0px -29696px; }
.s512.animals.animal-elephant1     { background-position:   -0px -30208px; }
.s512.animals.animal-elephant5-sc43 { background-position:   -0px -30720px; }
.s512.animals.animal-fish          { background-position:   -0px -31232px; }
.s512.animals.animal-fish1         { background-position:   -0px -31744px; }
.s512.animals.animal-fish13        { background-position:   -0px -32256px; }
.s512.animals.animal-fish6         { background-position:   -0px -32768px; }
.s512.animals.animal-fish7-sc37    { background-position:   -0px -33280px; }
.s512.animals.animal-frog          { background-position:   -0px -33792px; }
.s512.animals.animal-giraffe       { background-position:   -0px -34304px; }
.s512.animals.animal-giraffe1      { background-position:   -0px -34816px; }
.s512.animals.animal-hamster       { background-position:   -0px -35328px; }
.s512.animals.animal-hippo         { background-position:   -0px -35840px; }
.s512.animals.animal-hippo3-sc22   { background-position:   -0px -36352px; }
.s512.animals.animal-horse1        { background-position:   -0px -36864px; }
.s512.animals.animal-horse3-sc44   { background-position:   -0px -37376px; }
.s512.animals.animal-kangaroo-sc36 { background-position:   -0px -37888px; }
.s512.animals.animal-koala-bear    { background-position:   -0px -38400px; }
.s512.animals.animal-ladybug4-sc24 { background-position:   -0px -38912px; }
.s512.animals.animal-ladybug5-sc24 { background-position:   -0px -39424px; }
.s512.animals.animal-ladybug6-sc24 { background-position:   -0px -39936px; }
.s512.animals.animal-ladybug7-sc24 { background-position:   -0px -40448px; }
.s512.animals.animal-ladybug8-sc24 { background-position:   -0px -40960px; }
.s512.animals.animal-ladybug9-sc24 { background-position:   -0px -41472px; }
.s512.animals.animal-lion          { background-position:   -0px -41984px; }
.s512.animals.animal-lion1-sc36    { background-position:   -0px -42496px; }
.s512.animals.animal-lion2         { background-position:   -0px -43008px; }
.s512.animals.animal-lion3-sc37    { background-position:   -0px -43520px; }
.s512.animals.animal-lizard1       { background-position:   -0px -44032px; }
.s512.animals.animal-lizard2-sc37  { background-position:   -0px -44544px; }
.s512.animals.animal-lobster       { background-position:   -0px -45056px; }
.s512.animals.animal-lobster1-sc44 { background-position:   -0px -45568px; }
.s512.animals.animal-monkey        { background-position:   -0px -46080px; }
.s512.animals.animal-monkey1       { background-position:   -0px -46592px; }
.s512.animals.animal-moose-sc44    { background-position:   -0px -47104px; }
.s512.animals.animal-mouse1        { background-position:   -0px -47616px; }
.s512.animals.animal-panda         { background-position:   -0px -48128px; }
.s512.animals.animal-panda3-sc37   { background-position:   -0px -48640px; }
.s512.animals.animal-paw-prints2   { background-position:   -0px -49152px; }
.s512.animals.animal-penguine-sc43 { background-position:   -0px -49664px; }
.s512.animals.animal-rabbit1       { background-position:   -0px -50176px; }
.s512.animals.animal-rabbit2-sc25  { background-position:   -0px -50688px; }
.s512.animals.animal-seahorse1-sc44 { background-position:   -0px -51200px; }
.s512.animals.animal-seahorse2-sc37 { background-position:   -0px -51712px; }
.s512.animals.animal-seal          { background-position:   -0px -52224px; }
.s512.animals.animal-seashell-sc5  { background-position:   -0px -52736px; }
.s512.animals.animal-seashell2-sc44 { background-position:   -0px -53248px; }
.s512.animals.animal-shellfish2-sc44 { background-position:   -0px -53760px; }
.s512.animals.animal-shellfish3    { background-position:   -0px -54272px; }
.s512.animals.animal-snail         { background-position:   -0px -54784px; }
.s512.animals.animal-snake         { background-position:   -0px -55296px; }
.s512.animals.animal-snake1        { background-position:   -0px -55808px; }
.s512.animals.animal-spider        { background-position:   -0px -56320px; }
.s512.animals.animal-spider1       { background-position:   -0px -56832px; }
.s512.animals.animal-squirrel1-sc37 { background-position:   -0px -57344px; }
.s512.animals.animal-starfish-sc43 { background-position:   -0px -57856px; }
.s512.animals.animal-turtle        { background-position:   -0px -58368px; }
.s512.animals.animal-turtle3-sc44  { background-position:   -0px -58880px; }
.s512.animals.animal-unicorn       { background-position:   -0px -59392px; }
.s512.animals.animal-unicorn1      { background-position:   -0px -59904px; }
.s512.animals.animal-wolf-sc44     { background-position:   -0px -60416px; }
.s512.animals.bone                 { background-position:   -0px -60928px; }
.s512.animals.fishbowl             { background-position:   -0px -61440px; }
.s512.animals.paw-print3           { background-position:   -0px -61952px; }
.s512.animals.paw-prints2          { background-position:   -0px -62464px; }
.s512.animals.spiderweb2           { background-position:   -0px -62976px; }
