.s512.arrows                      {
    background-image: url("512x512/arrows.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.arrows.arrow-1turn2-down    { background-position:   -0px   -0px; }
.s512.arrows.arrow-check          { background-position:   -0px -512px; }
.s512.arrows.arrow-circle-refresh { background-position:   -0px -1024px; }
.s512.arrows.arrow-curvy-down     { background-position:   -0px -1536px; }
.s512.arrows.arrow-dotted-down    { background-position:   -0px -2048px; }
.s512.arrows.arrow-dotted-left    { background-position:   -0px -2560px; }
.s512.arrows.arrow-dotted-ne      { background-position:   -0px -3072px; }
.s512.arrows.arrow-dotted-nw      { background-position:   -0px -3584px; }
.s512.arrows.arrow-dotted-right   { background-position:   -0px -4096px; }
.s512.arrows.arrow-dotted-se      { background-position:   -0px -4608px; }
.s512.arrows.arrow-dotted-sw      { background-position:   -0px -5120px; }
.s512.arrows.arrow-dotted-up      { background-position:   -0px -5632px; }
.s512.arrows.arrow-keyboard       { background-position:   -0px -6144px; }
.s512.arrows.arrow-more           { background-position:   -0px -6656px; }
.s512.arrows.arrow-move           { background-position:   -0px -7168px; }
.s512.arrows.arrow-northeast      { background-position:   -0px -7680px; }
.s512.arrows.arrow-northwest      { background-position:   -0px -8192px; }
.s512.arrows.arrow-redirect-down  { background-position:   -0px -8704px; }
.s512.arrows.arrow-redirect-left  { background-position:   -0px -9216px; }
.s512.arrows.arrow-redirect-left1-ps { background-position:   -0px -9728px; }
.s512.arrows.arrow-redirect-right { background-position:   -0px -10240px; }
.s512.arrows.arrow-redirect-right1-ps { background-position:   -0px -10752px; }
.s512.arrows.arrow-redirect-up    { background-position:   -0px -11264px; }
.s512.arrows.arrow-redo           { background-position:   -0px -11776px; }
.s512.arrows.arrow-ring1          { background-position:   -0px -12288px; }
.s512.arrows.arrow-solid-down     { background-position:   -0px -12800px; }
.s512.arrows.arrow-solid-left     { background-position:   -0px -13312px; }
.s512.arrows.arrow-solid-right    { background-position:   -0px -13824px; }
.s512.arrows.arrow-solid-up       { background-position:   -0px -14336px; }
.s512.arrows.arrow-sparkle        { background-position:   -0px -14848px; }
.s512.arrows.arrow-styled-left    { background-position:   -0px -15360px; }
.s512.arrows.arrow-styled-right   { background-position:   -0px -15872px; }
.s512.arrows.arrow-thick-down     { background-position:   -0px -16384px; }
.s512.arrows.arrow-thick-left     { background-position:   -0px -16896px; }
.s512.arrows.arrow-thick-right    { background-position:   -0px -17408px; }
.s512.arrows.arrow-thick-up       { background-position:   -0px -17920px; }
.s512.arrows.arrow-undo           { background-position:   -0px -18432px; }
.s512.arrows.arrow-up             { background-position:   -0px -18944px; }
.s512.arrows.arrow1-left-right1   { background-position:   -0px -19456px; }
.s512.arrows.arrow1-solid-down    { background-position:   -0px -19968px; }
.s512.arrows.arrow1-solid-left    { background-position:   -0px -20480px; }
.s512.arrows.arrow1-solid-right   { background-position:   -0px -20992px; }
.s512.arrows.arrow1-solid-up      { background-position:   -0px -21504px; }
.s512.arrows.arrow11-left-ps      { background-position:   -0px -22016px; }
.s512.arrows.arrow11-right        { background-position:   -0px -22528px; }
.s512.arrows.arrow2-download      { background-position:   -0px -23040px; }
.s512.arrows.arrow2-left-load     { background-position:   -0px -23552px; }
.s512.arrows.arrow2-right-load    { background-position:   -0px -24064px; }
.s512.arrows.arrow2-upload        { background-position:   -0px -24576px; }
.s512.arrows.arrow3-down-solid-circle { background-position:   -0px -25088px; }
.s512.arrows.arrow3-left-solid-circle { background-position:   -0px -25600px; }
.s512.arrows.arrow3-right-solid-circle { background-position:   -0px -26112px; }
.s512.arrows.arrow3-up-solid-circle { background-position:   -0px -26624px; }
.s512.arrows.arrow4-down          { background-position:   -0px -27136px; }
.s512.arrows.arrow4-left          { background-position:   -0px -27648px; }
.s512.arrows.arrow4-right         { background-position:   -0px -28160px; }
.s512.arrows.arrow4-southeast     { background-position:   -0px -28672px; }
.s512.arrows.arrow4-southwest     { background-position:   -0px -29184px; }
.s512.arrows.arrowhead-solid-left { background-position:   -0px -29696px; }
.s512.arrows.arrowhead-solid-right { background-position:   -0px -30208px; }
.s512.arrows.arrowhead2-left      { background-position:   -0px -30720px; }
.s512.arrows.arrowhead2-right     { background-position:   -0px -31232px; }
.s512.arrows.arrows-rotated       { background-position:   -0px -31744px; }
.s512.arrows.arrows-up-down1      { background-position:   -0px -32256px; }
.s512.arrows.arrows1-shuffle      { background-position:   -0px -32768px; }
.s512.arrows.arrows1-track-back   { background-position:   -0px -33280px; }
.s512.arrows.circled-arrow-down-sc44 { background-position:   -0px -33792px; }
.s512.arrows.circled-arrow-left-sc44 { background-position:   -0px -34304px; }
.s512.arrows.circled-arrow-right-sc44 { background-position:   -0px -34816px; }
.s512.arrows.circled-arrow-up-sc44 { background-position:   -0px -35328px; }
.s512.arrows.cut-arrow-down       { background-position:   -0px -35840px; }
.s512.arrows.cut-arrow-left       { background-position:   -0px -36352px; }
.s512.arrows.cut-arrow-right      { background-position:   -0px -36864px; }
.s512.arrows.cut-arrow-up         { background-position:   -0px -37376px; }
.s512.arrows.dotted-arrow-down    { background-position:   -0px -37888px; }
.s512.arrows.dotted-arrow-left    { background-position:   -0px -38400px; }
.s512.arrows.dotted-arrow-right   { background-position:   -0px -38912px; }
.s512.arrows.dotted-arrow-up      { background-position:   -0px -39424px; }
.s512.arrows.double-arrowhead-left { background-position:   -0px -39936px; }
.s512.arrows.double-arrowhead-right { background-position:   -0px -40448px; }
.s512.arrows.hand-clear-pointer-down { background-position:   -0px -40960px; }
.s512.arrows.hand-clear-pointer-left { background-position:   -0px -41472px; }
.s512.arrows.hand-clear-pointer-right { background-position:   -0px -41984px; }
.s512.arrows.hand-clear-pointer-up { background-position:   -0px -42496px; }
.s512.arrows.hand-pointer-up      { background-position:   -0px -43008px; }
.s512.arrows.hand-pointer1-down   { background-position:   -0px -43520px; }
.s512.arrows.hand-pointer1-left   { background-position:   -0px -44032px; }
.s512.arrows.hand-pointer1-right  { background-position:   -0px -44544px; }
.s512.arrows.hand-pointer1-up     { background-position:   -0px -45056px; }
.s512.arrows.hand-pointer1        { background-position:   -0px -45568px; }
.s512.arrows.last-arrow-down      { background-position:   -0px -46080px; }
.s512.arrows.last-arrow-left      { background-position:   -0px -46592px; }
.s512.arrows.last-arrow-right     { background-position:   -0px -47104px; }
.s512.arrows.last-arrow-up        { background-position:   -0px -47616px; }
.s512.arrows.pointer-solid        { background-position:   -0px -48128px; }
.s512.arrows.solid-hand-points-down { background-position:   -0px -48640px; }
.s512.arrows.solid-hand-points-left { background-position:   -0px -49152px; }
.s512.arrows.solid-hand-points-right { background-position:   -0px -49664px; }
.s512.arrows.solid-hand-points-up { background-position:   -0px -50176px; }
.s512.arrows.triangle-circle-down { background-position:   -0px -50688px; }
.s512.arrows.triangle-circle-left { background-position:   -0px -51200px; }
.s512.arrows.triangle-circle-right { background-position:   -0px -51712px; }
.s512.arrows.triangle-circle-up   { background-position:   -0px -52224px; }
.s512.arrows.triangle-clear-circle-down { background-position:   -0px -52736px; }
.s512.arrows.triangle-clear-circle-left { background-position:   -0px -53248px; }
.s512.arrows.triangle-clear-circle-righ { background-position:   -0px -53760px; }
.s512.arrows.triangle-clear-circle-up { background-position:   -0px -54272px; }
.s512.arrows.triangle-clear-down  { background-position:   -0px -54784px; }
.s512.arrows.triangle-clear-left  { background-position:   -0px -55296px; }
.s512.arrows.triangle-clear-right { background-position:   -0px -55808px; }
.s512.arrows.triangle-clear-up    { background-position:   -0px -56320px; }
.s512.arrows.triangle-solid-down  { background-position:   -0px -56832px; }
.s512.arrows.triangle-solid-left  { background-position:   -0px -57344px; }
.s512.arrows.triangle-solid-right { background-position:   -0px -57856px; }
.s512.arrows.triangle-solid-up    { background-position:   -0px -58368px; }
.s512.arrows.two-directions-left-right { background-position:   -0px -58880px; }
.s512.arrows.two-directions-left-right1 { background-position:   -0px -59392px; }
.s512.arrows.two-directions-up-down { background-position:   -0px -59904px; }
.s512.arrows.two-directions-up-down1 { background-position:   -0px -60416px; }
.s512.arrows.two-directions-up-down2 { background-position:   -0px -60928px; }
.s512.arrows.two-directions       { background-position:   -0px -61440px; }
.s512.arrows.two-ways-left-right  { background-position:   -0px -61952px; }
.s512.arrows.two-ways-up-down     { background-position:   -0px -62464px; }
