.s512.business                      {
    background-image: url("512x512/business.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.business.bag-paper1           { background-position:   -0px   -0px; }
.s512.business.bag-paper2           { background-position:   -0px -512px; }
.s512.business.bag-paper3           { background-position:   -0px -1024px; }
.s512.business.basket               { background-position:   -0px -1536px; }
.s512.business.battery              { background-position:   -0px -2048px; }
.s512.business.battery1             { background-position:   -0px -2560px; }
.s512.business.binocular            { background-position:   -0px -3072px; }
.s512.business.box                  { background-position:   -0px -3584px; }
.s512.business.box1                 { background-position:   -0px -4096px; }
.s512.business.box2                 { background-position:   -0px -4608px; }
.s512.business.brush-paint55        { background-position:   -0px -5120px; }
.s512.business.brush-paint57-sc52   { background-position:   -0px -5632px; }
.s512.business.brush-painting-sc43  { background-position:   -0px -6144px; }
.s512.business.cabinet              { background-position:   -0px -6656px; }
.s512.business.calculator           { background-position:   -0px -7168px; }
.s512.business.calendar             { background-position:   -0px -7680px; }
.s512.business.cart-7dots           { background-position:   -0px -8192px; }
.s512.business.cart-arrow           { background-position:   -0px -8704px; }
.s512.business.cart-solid           { background-position:   -0px -9216px; }
.s512.business.cart2                { background-position:   -0px -9728px; }
.s512.business.cart3                { background-position:   -0px -10240px; }
.s512.business.cart4                { background-position:   -0px -10752px; }
.s512.business.cart5                { background-position:   -0px -11264px; }
.s512.business.chair5-sc52          { background-position:   -0px -11776px; }
.s512.business.charcoal-cart        { background-position:   -0px -12288px; }
.s512.business.charts               { background-position:   -0px -12800px; }
.s512.business.charts1-sc1          { background-position:   -0px -13312px; }
.s512.business.clipboard            { background-position:   -0px -13824px; }
.s512.business.clipboard1           { background-position:   -0px -14336px; }
.s512.business.clipboard2-sc1       { background-position:   -0px -14848px; }
.s512.business.clock                { background-position:   -0px -15360px; }
.s512.business.clock1               { background-position:   -0px -15872px; }
.s512.business.clock110             { background-position:   -0px -16384px; }
.s512.business.clock2               { background-position:   -0px -16896px; }
.s512.business.clock3               { background-position:   -0px -17408px; }
.s512.business.clock4               { background-position:   -0px -17920px; }
.s512.business.clock5-sc44          { background-position:   -0px -18432px; }
.s512.business.clock6-sc43          { background-position:   -0px -18944px; }
.s512.business.clock7-sc43          { background-position:   -0px -19456px; }
.s512.business.clock8               { background-position:   -0px -19968px; }
.s512.business.computer-desktop1    { background-position:   -0px -20480px; }
.s512.business.computer-keyboard    { background-position:   -0px -20992px; }
.s512.business.computer-laptop2     { background-position:   -0px -21504px; }
.s512.business.computer-monitor     { background-position:   -0px -22016px; }
.s512.business.computer-mouse       { background-position:   -0px -22528px; }
.s512.business.computer-mouse2      { background-position:   -0px -23040px; }
.s512.business.computer-mouse3-sc1  { background-position:   -0px -23552px; }
.s512.business.computer-mouse3      { background-position:   -0px -24064px; }
.s512.business.computer-server1     { background-position:   -0px -24576px; }
.s512.business.computer-server2     { background-position:   -0px -25088px; }
.s512.business.computer-usb-drive-sc7 { background-position:   -0px -25600px; }
.s512.business.copyright            { background-position:   -0px -26112px; }
.s512.business.creditcard2          { background-position:   -0px -26624px; }
.s512.business.currency-british-pound-sc35 { background-position:   -0px -27136px; }
.s512.business.currency-cent-sc35   { background-position:   -0px -27648px; }
.s512.business.currency-dollar-sc35 { background-position:   -0px -28160px; }
.s512.business.currency-euro1-sc35  { background-position:   -0px -28672px; }
.s512.business.currency-euro1       { background-position:   -0px -29184px; }
.s512.business.currency-euro3       { background-position:   -0px -29696px; }
.s512.business.currency-japanese-yen2-sc35 { background-position:   -0px -30208px; }
.s512.business.cursor               { background-position:   -0px -30720px; }
.s512.business.disc                 { background-position:   -0px -31232px; }
.s512.business.disk                 { background-position:   -0px -31744px; }
.s512.business.diskette-save        { background-position:   -0px -32256px; }
.s512.business.diskette4            { background-position:   -0px -32768px; }
.s512.business.document             { background-position:   -0px -33280px; }
.s512.business.document1            { background-position:   -0px -33792px; }
.s512.business.document10-sc1       { background-position:   -0px -34304px; }
.s512.business.document3            { background-position:   -0px -34816px; }
.s512.business.document4            { background-position:   -0px -35328px; }
.s512.business.document5            { background-position:   -0px -35840px; }
.s512.business.document6            { background-position:   -0px -36352px; }
.s512.business.document7            { background-position:   -0px -36864px; }
.s512.business.document8            { background-position:   -0px -37376px; }
.s512.business.document9            { background-position:   -0px -37888px; }
.s512.business.dollar-solid         { background-position:   -0px -38400px; }
.s512.business.dollar               { background-position:   -0px -38912px; }
.s512.business.electrical-plug      { background-position:   -0px -39424px; }
.s512.business.electrical-plug1     { background-position:   -0px -39936px; }
.s512.business.electrical-plug2     { background-position:   -0px -40448px; }
.s512.business.electrical-plug5     { background-position:   -0px -40960px; }
.s512.business.envelope1            { background-position:   -0px -41472px; }
.s512.business.envelope3            { background-position:   -0px -41984px; }
.s512.business.envelope4            { background-position:   -0px -42496px; }
.s512.business.envelope5            { background-position:   -0px -43008px; }
.s512.business.envelopes1           { background-position:   -0px -43520px; }
.s512.business.fax                  { background-position:   -0px -44032px; }
.s512.business.folder               { background-position:   -0px -44544px; }
.s512.business.folder1              { background-position:   -0px -45056px; }
.s512.business.folder2-sc1          { background-position:   -0px -45568px; }
.s512.business.gas-none-sc49        { background-position:   -0px -46080px; }
.s512.business.gas-pump             { background-position:   -0px -46592px; }
.s512.business.gas-station4-sc49    { background-position:   -0px -47104px; }
.s512.business.gaspump              { background-position:   -0px -47616px; }
.s512.business.gaspump2             { background-position:   -0px -48128px; }
.s512.business.gear-c-sc44          { background-position:   -0px -48640px; }
.s512.business.gear                 { background-position:   -0px -49152px; }
.s512.business.gear1                { background-position:   -0px -49664px; }
.s512.business.gear10               { background-position:   -0px -50176px; }
.s512.business.gear11               { background-position:   -0px -50688px; }
.s512.business.gear2                { background-position:   -0px -51200px; }
.s512.business.gear3                { background-position:   -0px -51712px; }
.s512.business.gear4                { background-position:   -0px -52224px; }
.s512.business.gear5                { background-position:   -0px -52736px; }
.s512.business.gear6                { background-position:   -0px -53248px; }
.s512.business.gear7                { background-position:   -0px -53760px; }
.s512.business.gear8                { background-position:   -0px -54272px; }
.s512.business.gear9                { background-position:   -0px -54784px; }
.s512.business.gears-sc37           { background-position:   -0px -55296px; }
.s512.business.gears1-sc44          { background-position:   -0px -55808px; }
.s512.business.globe                { background-position:   -0px -56320px; }
.s512.business.head-set             { background-position:   -0px -56832px; }
.s512.business.headgear             { background-position:   -0px -57344px; }
.s512.business.headset3             { background-position:   -0px -57856px; }
.s512.business.home1                { background-position:   -0px -58368px; }
.s512.business.home3                { background-position:   -0px -58880px; }
.s512.business.home4                { background-position:   -0px -59392px; }
.s512.business.home5                { background-position:   -0px -59904px; }
.s512.business.home6                { background-position:   -0px -60416px; }
.s512.business.home7                { background-position:   -0px -60928px; }
.s512.business.home8                { background-position:   -0px -61440px; }
.s512.business.home9-sc52           { background-position:   -0px -61952px; }
.s512.business.hourglass            { background-position:   -0px -62464px; }
.s512.business.hourglass2           { background-position:   -0px -62976px; }
.s512.business.hourglass3-sc44      { background-position:   -0px -63488px; }
.s512.business.industrial           { background-position:   -0px -64000px; }
.s512.business.key-hole-sc48        { background-position:   -0px -64512px; }
.s512.business.key1                 { background-position:   -0px -65024px; }
.s512.business.key11-sc48           { background-position:   -0px -65536px; }
.s512.business.key2                 { background-position:   -0px -66048px; }
.s512.business.key3                 { background-position:   -0px -66560px; }
.s512.business.key6                 { background-position:   -0px -67072px; }
.s512.business.key7                 { background-position:   -0px -67584px; }
.s512.business.key9                 { background-position:   -0px -68096px; }
.s512.business.keys-sc43            { background-position:   -0px -68608px; }
.s512.business.ladder               { background-position:   -0px -69120px; }
.s512.business.ladder1-sc48         { background-position:   -0px -69632px; }
.s512.business.light-bulb           { background-position:   -0px -70144px; }
.s512.business.light-bulb2-sc52     { background-position:   -0px -70656px; }
.s512.business.light-off            { background-position:   -0px -71168px; }
.s512.business.light-on             { background-position:   -0px -71680px; }
.s512.business.lock-heart           { background-position:   -0px -72192px; }
.s512.business.lock1                { background-position:   -0px -72704px; }
.s512.business.lock2                { background-position:   -0px -73216px; }
.s512.business.lock3                { background-position:   -0px -73728px; }
.s512.business.lock4                { background-position:   -0px -74240px; }
.s512.business.lock5                { background-position:   -0px -74752px; }
.s512.business.lock6-sc48           { background-position:   -0px -75264px; }
.s512.business.logo-superman-sc37   { background-position:   -0px -75776px; }
.s512.business.magic-wand           { background-position:   -0px -76288px; }
.s512.business.magnify-zoom-out     { background-position:   -0px -76800px; }
.s512.business.magnify-zoom         { background-position:   -0px -77312px; }
.s512.business.magnifying-glass-ps  { background-position:   -0px -77824px; }
.s512.business.magnifying-glass1-sc49 { background-position:   -0px -78336px; }
.s512.business.mail                 { background-position:   -0px -78848px; }
.s512.business.mailbox              { background-position:   -0px -79360px; }
.s512.business.mailbox1             { background-position:   -0px -79872px; }
.s512.business.microscope           { background-position:   -0px -80384px; }
.s512.business.notepad              { background-position:   -0px -80896px; }
.s512.business.oil-well             { background-position:   -0px -81408px; }
.s512.business.paperclip            { background-position:   -0px -81920px; }
.s512.business.paperclip2           { background-position:   -0px -82432px; }
.s512.business.paperclips2-sc43     { background-position:   -0px -82944px; }
.s512.business.pen-crayon-ps        { background-position:   -0px -83456px; }
.s512.business.pen-crayon           { background-position:   -0px -83968px; }
.s512.business.pen1                 { background-position:   -0px -84480px; }
.s512.business.pen5-ps              { background-position:   -0px -84992px; }
.s512.business.pen6-ps              { background-position:   -0px -85504px; }
.s512.business.pencil1              { background-position:   -0px -86016px; }
.s512.business.pencil2              { background-position:   -0px -86528px; }
.s512.business.pencil4              { background-position:   -0px -87040px; }
.s512.business.pencil5-ps           { background-position:   -0px -87552px; }
.s512.business.pencil6-sc45         { background-position:   -0px -88064px; }
.s512.business.pencil7-sc49         { background-position:   -0px -88576px; }
.s512.business.pencil8              { background-position:   -0px -89088px; }
.s512.business.phone-cell           { background-position:   -0px -89600px; }
.s512.business.phone-cell2          { background-position:   -0px -90112px; }
.s512.business.phone-cell3-sc8      { background-position:   -0px -90624px; }
.s512.business.phone-clear          { background-position:   -0px -91136px; }
.s512.business.phone-solid          { background-position:   -0px -91648px; }
.s512.business.phone                { background-position:   -0px -92160px; }
.s512.business.phone1               { background-position:   -0px -92672px; }
.s512.business.phone2               { background-position:   -0px -93184px; }
.s512.business.phone4               { background-position:   -0px -93696px; }
.s512.business.power-button4        { background-position:   -0px -94208px; }
.s512.business.printer              { background-position:   -0px -94720px; }
.s512.business.registered-mark      { background-position:   -0px -95232px; }
.s512.business.registered-mark1     { background-position:   -0px -95744px; }
.s512.business.robot                { background-position:   -0px -96256px; }
.s512.business.robot1               { background-position:   -0px -96768px; }
.s512.business.satellite-dish-sc43  { background-position:   -0px -97280px; }
.s512.business.satellite3-sc43      { background-position:   -0px -97792px; }
.s512.business.satellite4-sc43      { background-position:   -0px -98304px; }
.s512.business.scissors             { background-position:   -0px -98816px; }
.s512.business.signature            { background-position:   -0px -99328px; }
.s512.business.signature1           { background-position:   -0px -99840px; }
.s512.business.space-satelite-sc43  { background-position:   -0px -100352px; }
.s512.business.space-satelite       { background-position:   -0px -100864px; }
.s512.business.space-satellite-dish-sc2 { background-position:   -0px -101376px; }
.s512.business.spaceship            { background-position:   -0px -101888px; }
.s512.business.tag                  { background-position:   -0px -102400px; }
.s512.business.text-size            { background-position:   -0px -102912px; }
.s512.business.thumb-tack-ps        { background-position:   -0px -103424px; }
.s512.business.thumbs-down          { background-position:   -0px -103936px; }
.s512.business.thumbs-down1         { background-position:   -0px -104448px; }
.s512.business.thumbs-down2         { background-position:   -0px -104960px; }
.s512.business.thumbs-up            { background-position:   -0px -105472px; }
.s512.business.thumbs-up1           { background-position:   -0px -105984px; }
.s512.business.thumbs-up2           { background-position:   -0px -106496px; }
.s512.business.tool-army-knife-sc44 { background-position:   -0px -107008px; }
.s512.business.tool-ax              { background-position:   -0px -107520px; }
.s512.business.tool-axe1-sc48       { background-position:   -0px -108032px; }
.s512.business.tool-cutter          { background-position:   -0px -108544px; }
.s512.business.tool-cutter1-sc44    { background-position:   -0px -109056px; }
.s512.business.tool-hammer          { background-position:   -0px -109568px; }
.s512.business.tool-hammer2         { background-position:   -0px -110080px; }
.s512.business.tool-hammer3         { background-position:   -0px -110592px; }
.s512.business.tool-hammer4-sc44    { background-position:   -0px -111104px; }
.s512.business.tool-pick-sc44       { background-position:   -0px -111616px; }
.s512.business.tool-screw-sc44      { background-position:   -0px -112128px; }
.s512.business.tool-screwdriver     { background-position:   -0px -112640px; }
.s512.business.tool-shovel2-sc44    { background-position:   -0px -113152px; }
.s512.business.tool-sprocket1       { background-position:   -0px -113664px; }
.s512.business.tool-sprocket2       { background-position:   -0px -114176px; }
.s512.business.tool-sword-sc48      { background-position:   -0px -114688px; }
.s512.business.tool-wheelbarrow1-sc32 { background-position:   -0px -115200px; }
.s512.business.tool-wheelbarrowl2-sc44 { background-position:   -0px -115712px; }
.s512.business.tool-wrench1         { background-position:   -0px -116224px; }
.s512.business.tool-wrench2         { background-position:   -0px -116736px; }
.s512.business.tool-wrench3         { background-position:   -0px -117248px; }
.s512.business.tool-wrench4         { background-position:   -0px -117760px; }
.s512.business.tool-wrench7         { background-position:   -0px -118272px; }
.s512.business.tool-wrench8-sc44    { background-position:   -0px -118784px; }
.s512.business.tool                 { background-position:   -0px -119296px; }
.s512.business.tool7                { background-position:   -0px -119808px; }
.s512.business.tools-shovel         { background-position:   -0px -120320px; }
.s512.business.tools1               { background-position:   -0px -120832px; }
.s512.business.tools2-digging       { background-position:   -0px -121344px; }
.s512.business.toolset-sc44         { background-position:   -0px -121856px; }
.s512.business.toolset3-sc44        { background-position:   -0px -122368px; }
.s512.business.trademark-ps         { background-position:   -0px -122880px; }
.s512.business.trashcan             { background-position:   -0px -123392px; }
.s512.business.trashcan3            { background-position:   -0px -123904px; }
.s512.business.wall                 { background-position:   -0px -124416px; }
.s512.business.wand1-sc43           { background-position:   -0px -124928px; }
.s512.business.webcam               { background-position:   -0px -125440px; }
.s512.business.wireless             { background-position:   -0px -125952px; }
.s512.business.www-search-ps        { background-position:   -0px -126464px; }
.s512.business.yen                  { background-position:   -0px -126976px; }
