.s512.culture                      {
    background-image: url("512x512/culture.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.culture.angel-halo           { background-position:   -0px   -0px; }
.s512.culture.angel-trumpet        { background-position:   -0px -512px; }
.s512.culture.astrology-aquarius   { background-position:   -0px -1024px; }
.s512.culture.astrology-aries      { background-position:   -0px -1536px; }
.s512.culture.astrology-cancer     { background-position:   -0px -2048px; }
.s512.culture.astrology-capricorn  { background-position:   -0px -2560px; }
.s512.culture.astrology-gemini     { background-position:   -0px -3072px; }
.s512.culture.astrology-leo        { background-position:   -0px -3584px; }
.s512.culture.astrology-libra      { background-position:   -0px -4096px; }
.s512.culture.astrology-pisces     { background-position:   -0px -4608px; }
.s512.culture.astrology-sagittarius { background-position:   -0px -5120px; }
.s512.culture.astrology-scorpio    { background-position:   -0px -5632px; }
.s512.culture.astrology-taurus     { background-position:   -0px -6144px; }
.s512.culture.astrology-virgo      { background-position:   -0px -6656px; }
.s512.culture.astrology1-aquarius-sc37 { background-position:   -0px -7168px; }
.s512.culture.astrology1-archer-sc37 { background-position:   -0px -7680px; }
.s512.culture.astrology1-aries-sc37 { background-position:   -0px -8192px; }
.s512.culture.astrology1-bull-sc37 { background-position:   -0px -8704px; }
.s512.culture.astrology1-cancer-sc37 { background-position:   -0px -9216px; }
.s512.culture.astrology1-capricorn-sc37 { background-position:   -0px -9728px; }
.s512.culture.astrology1-crab-sc37 { background-position:   -0px -10240px; }
.s512.culture.astrology1-fish-sc37 { background-position:   -0px -10752px; }
.s512.culture.astrology1-gemini-sc37 { background-position:   -0px -11264px; }
.s512.culture.astrology1-leo-sc37  { background-position:   -0px -11776px; }
.s512.culture.astrology1-libra-sc37 { background-position:   -0px -12288px; }
.s512.culture.astrology1-lion-sc37 { background-position:   -0px -12800px; }
.s512.culture.astrology1-pisces-sc37 { background-position:   -0px -13312px; }
.s512.culture.astrology1-ram-sc37  { background-position:   -0px -13824px; }
.s512.culture.astrology1-sagittarius-sc3 { background-position:   -0px -14336px; }
.s512.culture.astrology1-scale-sc37 { background-position:   -0px -14848px; }
.s512.culture.astrology1-scorpio-sc37 { background-position:   -0px -15360px; }
.s512.culture.astrology1-scorpion-sc37 { background-position:   -0px -15872px; }
.s512.culture.astrology1-seagoat-sc37 { background-position:   -0px -16384px; }
.s512.culture.astrology1-taurus-sc37 { background-position:   -0px -16896px; }
.s512.culture.astrology1-twins-sc37 { background-position:   -0px -17408px; }
.s512.culture.astrology1-virgin-sc37 { background-position:   -0px -17920px; }
.s512.culture.astrology1-virgo-sc37 { background-position:   -0px -18432px; }
.s512.culture.astrology1-water-carrier-s { background-position:   -0px -18944px; }
.s512.culture.astrology2-archer    { background-position:   -0px -19456px; }
.s512.culture.astrology2-bull      { background-position:   -0px -19968px; }
.s512.culture.astrology2-crab      { background-position:   -0px -20480px; }
.s512.culture.astrology2-fish      { background-position:   -0px -20992px; }
.s512.culture.astrology2-gemini    { background-position:   -0px -21504px; }
.s512.culture.astrology2-lion      { background-position:   -0px -22016px; }
.s512.culture.astrology2-ram       { background-position:   -0px -22528px; }
.s512.culture.astrology2-scale     { background-position:   -0px -23040px; }
.s512.culture.astrology2-scorpion  { background-position:   -0px -23552px; }
.s512.culture.astrology2-seagoat   { background-position:   -0px -24064px; }
.s512.culture.astrology2-virgin    { background-position:   -0px -24576px; }
.s512.culture.astrology2-water-carrier { background-position:   -0px -25088px; }
.s512.culture.balloon              { background-position:   -0px -25600px; }
.s512.culture.bell-clear-sc30      { background-position:   -0px -26112px; }
.s512.culture.bell2-solid-sc44     { background-position:   -0px -26624px; }
.s512.culture.bell3-clear-sc44     { background-position:   -0px -27136px; }
.s512.culture.bell5-solid-sc48     { background-position:   -0px -27648px; }
.s512.culture.bell6-clear          { background-position:   -0px -28160px; }
.s512.culture.book2                { background-position:   -0px -28672px; }
.s512.culture.book3-open           { background-position:   -0px -29184px; }
.s512.culture.book5-sc44           { background-position:   -0px -29696px; }
.s512.culture.books3-stacked       { background-position:   -0px -30208px; }
.s512.culture.bow-ribbon           { background-position:   -0px -30720px; }
.s512.culture.castle-church        { background-position:   -0px -31232px; }
.s512.culture.castle-five-towers   { background-position:   -0px -31744px; }
.s512.culture.castle-one-tower     { background-position:   -0px -32256px; }
.s512.culture.castle-two-towers    { background-position:   -0px -32768px; }
.s512.culture.chinese-beauty-sc17  { background-position:   -0px -33280px; }
.s512.culture.chinese-friend-sc17  { background-position:   -0px -33792px; }
.s512.culture.chinese-goodluck-sc17 { background-position:   -0px -34304px; }
.s512.culture.chinese-happiness-sc17 { background-position:   -0px -34816px; }
.s512.culture.chinese-joy-sc17     { background-position:   -0px -35328px; }
.s512.culture.chinese-longlife-sc17 { background-position:   -0px -35840px; }
.s512.culture.chinese-love-sc17    { background-position:   -0px -36352px; }
.s512.culture.chinese-number1-sc17 { background-position:   -0px -36864px; }
.s512.culture.chinese-number10-sc17 { background-position:   -0px -37376px; }
.s512.culture.chinese-number2-sc17 { background-position:   -0px -37888px; }
.s512.culture.chinese-number3-sc17 { background-position:   -0px -38400px; }
.s512.culture.chinese-number4-sc17 { background-position:   -0px -38912px; }
.s512.culture.chinese-number5-sc17 { background-position:   -0px -39424px; }
.s512.culture.chinese-number6-sc17 { background-position:   -0px -39936px; }
.s512.culture.chinese-number7-sc17 { background-position:   -0px -40448px; }
.s512.culture.chinese-number8-sc17 { background-position:   -0px -40960px; }
.s512.culture.chinese-number9-sc17 { background-position:   -0px -41472px; }
.s512.culture.chinese-peace-sc17   { background-position:   -0px -41984px; }
.s512.culture.chinese-zodiac1-dog  { background-position:   -0px -42496px; }
.s512.culture.chinese-zodiac1-dragon1 { background-position:   -0px -43008px; }
.s512.culture.chinese-zodiac1-horse { background-position:   -0px -43520px; }
.s512.culture.chinese-zodiac1-monkey { background-position:   -0px -44032px; }
.s512.culture.chinese-zodiac1-ox   { background-position:   -0px -44544px; }
.s512.culture.chinese-zodiac1-pig  { background-position:   -0px -45056px; }
.s512.culture.chinese-zodiac1-rabbit { background-position:   -0px -45568px; }
.s512.culture.chinese-zodiac1-rat  { background-position:   -0px -46080px; }
.s512.culture.chinese-zodiac1-rooster { background-position:   -0px -46592px; }
.s512.culture.chinese-zodiac1-sheep { background-position:   -0px -47104px; }
.s512.culture.chinese-zodiac1-snake { background-position:   -0px -47616px; }
.s512.culture.chinese-zodiac1-tiger { background-position:   -0px -48128px; }
.s512.culture.chinese-zodiac2-dog  { background-position:   -0px -48640px; }
.s512.culture.chinese-zodiac2-dragon { background-position:   -0px -49152px; }
.s512.culture.chinese-zodiac2-horse { background-position:   -0px -49664px; }
.s512.culture.chinese-zodiac2-monkey { background-position:   -0px -50176px; }
.s512.culture.chinese-zodiac2-ox   { background-position:   -0px -50688px; }
.s512.culture.chinese-zodiac2-pig  { background-position:   -0px -51200px; }
.s512.culture.chinese-zodiac2-rabbit { background-position:   -0px -51712px; }
.s512.culture.chinese-zodiac2-rat  { background-position:   -0px -52224px; }
.s512.culture.chinese-zodiac2-rooster { background-position:   -0px -52736px; }
.s512.culture.chinese-zodiac2-sheep { background-position:   -0px -53248px; }
.s512.culture.chinese-zodiac2-snake { background-position:   -0px -53760px; }
.s512.culture.chinese-zodiac2-tiger { background-position:   -0px -54272px; }
.s512.culture.church               { background-position:   -0px -54784px; }
.s512.culture.crown-clear          { background-position:   -0px -55296px; }
.s512.culture.crown-five-points2   { background-position:   -0px -55808px; }
.s512.culture.crown                { background-position:   -0px -56320px; }
.s512.culture.crown3-clear         { background-position:   -0px -56832px; }
.s512.culture.crown4-black         { background-position:   -0px -57344px; }
.s512.culture.crown5-king          { background-position:   -0px -57856px; }
.s512.culture.crown6-sc44          { background-position:   -0px -58368px; }
.s512.culture.egyptian-eye-sc56    { background-position:   -0px -58880px; }
.s512.culture.egyptian-mummy-sc56  { background-position:   -0px -59392px; }
.s512.culture.egyptian-warrior-sc56 { background-position:   -0px -59904px; }
.s512.culture.gift-box-fluffy-bow  { background-position:   -0px -60416px; }
.s512.culture.gift-box-simple-ribbon { background-position:   -0px -60928px; }
.s512.culture.gift-box-small       { background-position:   -0px -61440px; }
.s512.culture.gift-box-square      { background-position:   -0px -61952px; }
.s512.culture.gift-box5-sc1        { background-position:   -0px -62464px; }
.s512.culture.globe-black-sc48     { background-position:   -0px -62976px; }
.s512.culture.globe-checkered2     { background-position:   -0px -63488px; }
.s512.culture.globe-clear-sc44     { background-position:   -0px -64000px; }
.s512.culture.globe-rotate         { background-position:   -0px -64512px; }
.s512.culture.globe-with-grid      { background-position:   -0px -65024px; }
.s512.culture.golden-gate-bridge-sc44 { background-position:   -0px -65536px; }
.s512.culture.halloween-bat        { background-position:   -0px -66048px; }
.s512.culture.halloween-pumpkin-solid-sc { background-position:   -0px -66560px; }
.s512.culture.heart-3d-sc44        { background-position:   -0px -67072px; }
.s512.culture.heart-attached       { background-position:   -0px -67584px; }
.s512.culture.heart-baby-sc44      { background-position:   -0px -68096px; }
.s512.culture.heart-broken1-sc44   { background-position:   -0px -68608px; }
.s512.culture.heart-bubbly-sc44    { background-position:   -0px -69120px; }
.s512.culture.heart-dotted         { background-position:   -0px -69632px; }
.s512.culture.heart-double         { background-position:   -0px -70144px; }
.s512.culture.heart-exclamation-point-sc { background-position:   -0px -70656px; }
.s512.culture.heart-key-sc44       { background-position:   -0px -71168px; }
.s512.culture.heart-leaves-sc44    { background-position:   -0px -71680px; }
.s512.culture.heart-mini-hearts    { background-position:   -0px -72192px; }
.s512.culture.heart-scalloped-sc44 { background-position:   -0px -72704px; }
.s512.culture.heart-shadowed       { background-position:   -0px -73216px; }
.s512.culture.heart-side-by-side   { background-position:   -0px -73728px; }
.s512.culture.heart-simple         { background-position:   -0px -74240px; }
.s512.culture.heart-solid-sc44     { background-position:   -0px -74752px; }
.s512.culture.heart-target         { background-position:   -0px -75264px; }
.s512.culture.heart-transparent    { background-position:   -0px -75776px; }
.s512.culture.heart-triple         { background-position:   -0px -76288px; }
.s512.culture.hearts-three         { background-position:   -0px -76800px; }
.s512.culture.holiday-bat          { background-position:   -0px -77312px; }
.s512.culture.holiday-bells        { background-position:   -0px -77824px; }
.s512.culture.holiday-bells2-sc30  { background-position:   -0px -78336px; }
.s512.culture.holiday-candle       { background-position:   -0px -78848px; }
.s512.culture.holiday-candy-cane1-sc11 { background-position:   -0px -79360px; }
.s512.culture.holiday-christmas-tree { background-position:   -0px -79872px; }
.s512.culture.holiday-cupid        { background-position:   -0px -80384px; }
.s512.culture.holiday-easter-bunny-sc44 { background-position:   -0px -80896px; }
.s512.culture.holiday-easter-egg-sc44 { background-position:   -0px -81408px; }
.s512.culture.holiday-ghost1       { background-position:   -0px -81920px; }
.s512.culture.holiday-ghost2       { background-position:   -0px -82432px; }
.s512.culture.holiday-gingerman-sc44 { background-position:   -0px -82944px; }
.s512.culture.holiday-holly        { background-position:   -0px -83456px; }
.s512.culture.holiday-holly1-sc12  { background-position:   -0px -83968px; }
.s512.culture.holiday-holly2-sc30  { background-position:   -0px -84480px; }
.s512.culture.holiday-jack-o-lantern1 { background-position:   -0px -84992px; }
.s512.culture.holiday-ornament1    { background-position:   -0px -85504px; }
.s512.culture.holiday-ornament13-sc30 { background-position:   -0px -86016px; }
.s512.culture.holiday-ornament14-sc30 { background-position:   -0px -86528px; }
.s512.culture.holiday-ornament15-sc30 { background-position:   -0px -87040px; }
.s512.culture.holiday-ornament17-sc30 { background-position:   -0px -87552px; }
.s512.culture.holiday-ornament2    { background-position:   -0px -88064px; }
.s512.culture.holiday-ornament3-sc12 { background-position:   -0px -88576px; }
.s512.culture.holiday-santa-clause-sc30 { background-position:   -0px -89088px; }
.s512.culture.holiday-snowman      { background-position:   -0px -89600px; }
.s512.culture.holiday-snowman3-sc30 { background-position:   -0px -90112px; }
.s512.culture.holiday-stocking-sc44 { background-position:   -0px -90624px; }
.s512.culture.holiday-tree-decorated-sc4 { background-position:   -0px -91136px; }
.s512.culture.holiday-tree11-sc44  { background-position:   -0px -91648px; }
.s512.culture.holiday-tree33-sc30  { background-position:   -0px -92160px; }
.s512.culture.holiday-trees1-sc44  { background-position:   -0px -92672px; }
.s512.culture.holiday-turkey-sc9   { background-position:   -0px -93184px; }
.s512.culture.holiday-valentine9-sc44 { background-position:   -0px -93696px; }
.s512.culture.holiday-valentines   { background-position:   -0px -94208px; }
.s512.culture.holiday-valentines1-sc33 { background-position:   -0px -94720px; }
.s512.culture.holiday-valentines2-sc33 { background-position:   -0px -95232px; }
.s512.culture.holiday-valentines3-sc33 { background-position:   -0px -95744px; }
.s512.culture.holiday-valentines4-sc33 { background-position:   -0px -96256px; }
.s512.culture.holiday-valentines5-sc33 { background-position:   -0px -96768px; }
.s512.culture.holiday-valentines6-sc33 { background-position:   -0px -97280px; }
.s512.culture.holiday-valentines8-sc44 { background-position:   -0px -97792px; }
.s512.culture.holiday-witch-hat    { background-position:   -0px -98304px; }
.s512.culture.holiday-wreath       { background-position:   -0px -98816px; }
.s512.culture.holiday-wreath1-sc12 { background-position:   -0px -99328px; }
.s512.culture.holiday-wreath2-sc30 { background-position:   -0px -99840px; }
.s512.culture.knight               { background-position:   -0px -100352px; }
.s512.culture.lighthouse           { background-position:   -0px -100864px; }
.s512.culture.maltese-cross        { background-position:   -0px -101376px; }
.s512.culture.map-europe-africa-asia-sc5 { background-position:   -0px -101888px; }
.s512.culture.map-north-america-sc53 { background-position:   -0px -102400px; }
.s512.culture.map-north-south-americ-sc5 { background-position:   -0px -102912px; }
.s512.culture.map-usa              { background-position:   -0px -103424px; }
.s512.culture.map-world            { background-position:   -0px -103936px; }
.s512.culture.menorah              { background-position:   -0px -104448px; }
.s512.culture.pyramid2             { background-position:   -0px -104960px; }
.s512.culture.pyramid3             { background-position:   -0px -105472px; }
.s512.culture.religion-church1-sc31 { background-position:   -0px -105984px; }
.s512.culture.religion-crescent-star { background-position:   -0px -106496px; }
.s512.culture.religion-cross-shadow { background-position:   -0px -107008px; }
.s512.culture.religion-cross-simple { background-position:   -0px -107520px; }
.s512.culture.religion-cross5-sc31 { background-position:   -0px -108032px; }
.s512.culture.religion-star1-sc31  { background-position:   -0px -108544px; }
.s512.culture.religion-star2-sc31  { background-position:   -0px -109056px; }
.s512.culture.scroll-sc2           { background-position:   -0px -109568px; }
.s512.culture.skull-clear          { background-position:   -0px -110080px; }
.s512.culture.skull-solid          { background-position:   -0px -110592px; }
.s512.culture.skull                { background-position:   -0px -111104px; }
.s512.culture.space-alien1-sc37    { background-position:   -0px -111616px; }
.s512.culture.space-monster        { background-position:   -0px -112128px; }
.s512.culture.space-ufo            { background-position:   -0px -112640px; }
.s512.culture.state-alabama        { background-position:   -0px -113152px; }
.s512.culture.state-arizona        { background-position:   -0px -113664px; }
.s512.culture.state-arkansas       { background-position:   -0px -114176px; }
.s512.culture.state-california     { background-position:   -0px -114688px; }
.s512.culture.state-colorado       { background-position:   -0px -115200px; }
.s512.culture.state-connecticut    { background-position:   -0px -115712px; }
.s512.culture.state-delaware       { background-position:   -0px -116224px; }
.s512.culture.state-florida        { background-position:   -0px -116736px; }
.s512.culture.state-georgia        { background-position:   -0px -117248px; }
.s512.culture.state-hawaii         { background-position:   -0px -117760px; }
.s512.culture.state-idaho          { background-position:   -0px -118272px; }
.s512.culture.state-illinois       { background-position:   -0px -118784px; }
.s512.culture.state-indiana        { background-position:   -0px -119296px; }
.s512.culture.state-iowa           { background-position:   -0px -119808px; }
.s512.culture.state-kansas         { background-position:   -0px -120320px; }
.s512.culture.state-kentucky       { background-position:   -0px -120832px; }
.s512.culture.state-louisiana      { background-position:   -0px -121344px; }
.s512.culture.state-maine          { background-position:   -0px -121856px; }
.s512.culture.state-maryland       { background-position:   -0px -122368px; }
.s512.culture.state-massachusetts  { background-position:   -0px -122880px; }
.s512.culture.state-michigan       { background-position:   -0px -123392px; }
.s512.culture.state-minnesota      { background-position:   -0px -123904px; }
.s512.culture.state-mississippi    { background-position:   -0px -124416px; }
.s512.culture.state-missouri       { background-position:   -0px -124928px; }
.s512.culture.state-montana        { background-position:   -0px -125440px; }
.s512.culture.state-nevada         { background-position:   -0px -125952px; }
.s512.culture.state-new-hampshire  { background-position:   -0px -126464px; }
.s512.culture.state-new-jersey     { background-position:   -0px -126976px; }
.s512.culture.state-new-mexico     { background-position:   -0px -127488px; }
.s512.culture.state-new-york       { background-position:   -0px -128000px; }
.s512.culture.state-north-carolina { background-position:   -0px -128512px; }
.s512.culture.state-north-dakota   { background-position:   -0px -129024px; }
.s512.culture.state-ohio           { background-position:   -0px -129536px; }
.s512.culture.state-oklahoma       { background-position:   -0px -130048px; }
.s512.culture.state-oregon         { background-position:   -0px -130560px; }
.s512.culture.state-pennsylvania   { background-position:   -0px -131072px; }
.s512.culture.state-rhode-island   { background-position:   -0px -131584px; }
.s512.culture.state-south-carolina { background-position:   -0px -132096px; }
.s512.culture.state-south-dakota   { background-position:   -0px -132608px; }
.s512.culture.state-tennessee      { background-position:   -0px -133120px; }
.s512.culture.state-texas          { background-position:   -0px -133632px; }
.s512.culture.state-utah           { background-position:   -0px -134144px; }
.s512.culture.state-vermont        { background-position:   -0px -134656px; }
.s512.culture.state-virginia       { background-position:   -0px -135168px; }
.s512.culture.state-washington     { background-position:   -0px -135680px; }
.s512.culture.state-west-virginia  { background-position:   -0px -136192px; }
.s512.culture.state-wisconsin      { background-position:   -0px -136704px; }
.s512.culture.state-wyoming        { background-position:   -0px -137216px; }
.s512.culture.state1-alaska        { background-position:   -0px -137728px; }
.s512.culture.state1-nebraska      { background-position:   -0px -138240px; }
.s512.culture.windmill             { background-position:   -0px -138752px; }
.s512.culture.world1               { background-position:   -0px -139264px; }
.s512.culture.yin-yang1            { background-position:   -0px -139776px; }
