.s512.people                      {
    background-image: url("512x512/people.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.people.baby-stoller2        { background-position:   -0px   -0px; }
.s512.people.baby-stroller        { background-position:   -0px -512px; }
.s512.people.baby-stroller1       { background-position:   -0px -1024px; }
.s512.people.baby-toys            { background-position:   -0px -1536px; }
.s512.people.baby                 { background-position:   -0px -2048px; }
.s512.people.bathtub-sc52         { background-position:   -0px -2560px; }
.s512.people.bed                  { background-position:   -0px -3072px; }
.s512.people.bed1-sc43            { background-position:   -0px -3584px; }
.s512.people.brain                { background-position:   -0px -4096px; }
.s512.people.briefcase            { background-position:   -0px -4608px; }
.s512.people.button               { background-position:   -0px -5120px; }
.s512.people.button1              { background-position:   -0px -5632px; }
.s512.people.button3              { background-position:   -0px -6144px; }
.s512.people.cabinet1-sc52        { background-position:   -0px -6656px; }
.s512.people.cabinet3-sc52        { background-position:   -0px -7168px; }
.s512.people.camera               { background-position:   -0px -7680px; }
.s512.people.camera1-sc49         { background-position:   -0px -8192px; }
.s512.people.candle2-sc43         { background-position:   -0px -8704px; }
.s512.people.chair2               { background-position:   -0px -9216px; }
.s512.people.chair3               { background-position:   -0px -9728px; }
.s512.people.chalkboard           { background-position:   -0px -10240px; }
.s512.people.chest-treasure       { background-position:   -0px -10752px; }
.s512.people.chest                { background-position:   -0px -11264px; }
.s512.people.cowboy-sc44          { background-position:   -0px -11776px; }
.s512.people.diamond              { background-position:   -0px -12288px; }
.s512.people.diamond5-sc27        { background-position:   -0px -12800px; }
.s512.people.diploma-sc2          { background-position:   -0px -13312px; }
.s512.people.dress                { background-position:   -0px -13824px; }
.s512.people.eye                  { background-position:   -0px -14336px; }
.s512.people.eye3-sc44            { background-position:   -0px -14848px; }
.s512.people.eye4-sc48            { background-position:   -0px -15360px; }
.s512.people.eye5-sc54            { background-position:   -0px -15872px; }
.s512.people.eye6                 { background-position:   -0px -16384px; }
.s512.people.fan5-sc48            { background-position:   -0px -16896px; }
.s512.people.faucet1-sc1          { background-position:   -0px -17408px; }
.s512.people.faucet2-sc52         { background-position:   -0px -17920px; }
.s512.people.foot-left-ps         { background-position:   -0px -18432px; }
.s512.people.foot-right-ps        { background-position:   -0px -18944px; }
.s512.people.foot-steps           { background-position:   -0px -19456px; }
.s512.people.glasses-sun          { background-position:   -0px -19968px; }
.s512.people.glasses              { background-position:   -0px -20480px; }
.s512.people.hair-comb            { background-position:   -0px -20992px; }
.s512.people.hair-comb1-sc44      { background-position:   -0px -21504px; }
.s512.people.hairbrush2-sc44      { background-position:   -0px -22016px; }
.s512.people.hand-gloves          { background-position:   -0px -22528px; }
.s512.people.hand-left1-ps        { background-position:   -0px -23040px; }
.s512.people.hand-left11          { background-position:   -0px -23552px; }
.s512.people.hand-peace           { background-position:   -0px -24064px; }
.s512.people.hand-peace2-sc37     { background-position:   -0px -24576px; }
.s512.people.hand-right1-ps       { background-position:   -0px -25088px; }
.s512.people.hand-shuffle         { background-position:   -0px -25600px; }
.s512.people.hand22-sc48          { background-position:   -0px -26112px; }
.s512.people.hand55               { background-position:   -0px -26624px; }
.s512.people.handbag-sc43         { background-position:   -0px -27136px; }
.s512.people.handicapped25        { background-position:   -0px -27648px; }
.s512.people.handshake            { background-position:   -0px -28160px; }
.s512.people.hat-cap3-sc44        { background-position:   -0px -28672px; }
.s512.people.hat-cap4-sc43        { background-position:   -0px -29184px; }
.s512.people.hat-graduation       { background-position:   -0px -29696px; }
.s512.people.hat-hard             { background-position:   -0px -30208px; }
.s512.people.hat1-graduation      { background-position:   -0px -30720px; }
.s512.people.hat2-sc44            { background-position:   -0px -31232px; }
.s512.people.hat4-sc44            { background-position:   -0px -31744px; }
.s512.people.hat6-sc44            { background-position:   -0px -32256px; }
.s512.people.head                 { background-position:   -0px -32768px; }
.s512.people.icon_003             { background-position:   -0px -33280px; }
.s512.people.knife-set-sc43       { background-position:   -0px -33792px; }
.s512.people.lamp-aladin          { background-position:   -0px -34304px; }
.s512.people.lamp1                { background-position:   -0px -34816px; }
.s512.people.lamp2-sc31           { background-position:   -0px -35328px; }
.s512.people.lamp3-sc43           { background-position:   -0px -35840px; }
.s512.people.lamp4-sc43           { background-position:   -0px -36352px; }
.s512.people.lamp5-sc52           { background-position:   -0px -36864px; }
.s512.people.lamp6-sc52           { background-position:   -0px -37376px; }
.s512.people.lamp7-sc52           { background-position:   -0px -37888px; }
.s512.people.lips-sc33            { background-position:   -0px -38400px; }
.s512.people.lips1-sc33           { background-position:   -0px -38912px; }
.s512.people.lips99               { background-position:   -0px -39424px; }
.s512.people.lipstick             { background-position:   -0px -39936px; }
.s512.people.lipstick1-sc44       { background-position:   -0px -40448px; }
.s512.people.magnet               { background-position:   -0px -40960px; }
.s512.people.mirror               { background-position:   -0px -41472px; }
.s512.people.mirror1              { background-position:   -0px -41984px; }
.s512.people.pants                { background-position:   -0px -42496px; }
.s512.people.pencil-eye-sc44      { background-position:   -0px -43008px; }
.s512.people.people-audience      { background-position:   -0px -43520px; }
.s512.people.people-audience1-sc44 { background-position:   -0px -44032px; }
.s512.people.people-baby          { background-position:   -0px -44544px; }
.s512.people.people-carry-suitcase-sc44 { background-position:   -0px -45056px; }
.s512.people.people-child         { background-position:   -0px -45568px; }
.s512.people.people-child2        { background-position:   -0px -46080px; }
.s512.people.people-child3        { background-position:   -0px -46592px; }
.s512.people.people-couple-sc44   { background-position:   -0px -47104px; }
.s512.people.people-family3       { background-position:   -0px -47616px; }
.s512.people.people-family4-sc44  { background-position:   -0px -48128px; }
.s512.people.people-family4       { background-position:   -0px -48640px; }
.s512.people.people-feet          { background-position:   -0px -49152px; }
.s512.people.people-girl88-sc54   { background-position:   -0px -49664px; }
.s512.people.people-head          { background-position:   -0px -50176px; }
.s512.people.people-inspector-sc44 { background-position:   -0px -50688px; }
.s512.people.people-man-circle-sc44 { background-position:   -0px -51200px; }
.s512.people.people-man1          { background-position:   -0px -51712px; }
.s512.people.people-man11         { background-position:   -0px -52224px; }
.s512.people.people-man4          { background-position:   -0px -52736px; }
.s512.people.people-mother-child-sc44 { background-position:   -0px -53248px; }
.s512.people.people-mother-child1-sc43 { background-position:   -0px -53760px; }
.s512.people.people-pedestrian-sc43 { background-position:   -0px -54272px; }
.s512.people.people-security-guard-49 { background-position:   -0px -54784px; }
.s512.people.people-security      { background-position:   -0px -55296px; }
.s512.people.people-showering     { background-position:   -0px -55808px; }
.s512.people.people-singing       { background-position:   -0px -56320px; }
.s512.people.people-sitting1-sc52 { background-position:   -0px -56832px; }
.s512.people.people-speaker-sc44  { background-position:   -0px -57344px; }
.s512.people.people-student-study { background-position:   -0px -57856px; }
.s512.people.people-students      { background-position:   -0px -58368px; }
.s512.people.people-walker-man4-ps { background-position:   -0px -58880px; }
.s512.people.people-woman1        { background-position:   -0px -59392px; }
.s512.people.people-woman2        { background-position:   -0px -59904px; }
.s512.people.people-woman6        { background-position:   -0px -60416px; }
.s512.people.people-worker        { background-position:   -0px -60928px; }
.s512.people.people25             { background-position:   -0px -61440px; }
.s512.people.perfume-sc44         { background-position:   -0px -61952px; }
.s512.people.picture-frame-sc52   { background-position:   -0px -62464px; }
.s512.people.picture-frame1-sc52  { background-position:   -0px -62976px; }
.s512.people.pill                 { background-position:   -0px -63488px; }
.s512.people.ring                 { background-position:   -0px -64000px; }
.s512.people.ring1-sc44           { background-position:   -0px -64512px; }
.s512.people.rocking-horse-sc44   { background-position:   -0px -65024px; }
.s512.people.scissors-comb1-sc44  { background-position:   -0px -65536px; }
.s512.people.scissors2            { background-position:   -0px -66048px; }
.s512.people.scissors3            { background-position:   -0px -66560px; }
.s512.people.sewing-machine       { background-position:   -0px -67072px; }
.s512.people.shirt                { background-position:   -0px -67584px; }
.s512.people.shirt1               { background-position:   -0px -68096px; }
.s512.people.shirt2-sc44          { background-position:   -0px -68608px; }
.s512.people.shirt3-sc43          { background-position:   -0px -69120px; }
.s512.people.shoe                 { background-position:   -0px -69632px; }
.s512.people.shoes2               { background-position:   -0px -70144px; }
.s512.people.shorts-sc43          { background-position:   -0px -70656px; }
.s512.people.sink-pedestal-sc52   { background-position:   -0px -71168px; }
.s512.people.sink-pedestal        { background-position:   -0px -71680px; }
.s512.people.slipper-sc43         { background-position:   -0px -72192px; }
.s512.people.sofa                 { background-position:   -0px -72704px; }
.s512.people.sofa1-sc52           { background-position:   -0px -73216px; }
.s512.people.speech               { background-position:   -0px -73728px; }
.s512.people.stairs               { background-position:   -0px -74240px; }
.s512.people.stairs1-sc52         { background-position:   -0px -74752px; }
.s512.people.swap-clothes         { background-position:   -0px -75264px; }
.s512.people.table-sc52           { background-position:   -0px -75776px; }
.s512.people.table2-sc52          { background-position:   -0px -76288px; }
.s512.people.table3-sc52          { background-position:   -0px -76800px; }
.s512.people.telescope            { background-position:   -0px -77312px; }
.s512.people.tv-sc52              { background-position:   -0px -77824px; }
.s512.people.umbrella1            { background-position:   -0px -78336px; }
.s512.people.umbrella2            { background-position:   -0px -78848px; }
.s512.people.wagon                { background-position:   -0px -79360px; }
.s512.people.water-well           { background-position:   -0px -79872px; }
.s512.people.watering-can         { background-position:   -0px -80384px; }
.s512.people.watering-can1        { background-position:   -0px -80896px; }
.s512.people.wheelchair1-sc45     { background-position:   -0px -81408px; }
.s512.people.window1-sc52         { background-position:   -0px -81920px; }
