.s512.signs                      {
    background-image: url("512x512/signs.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.signs.bomb                 { background-position:   -0px   -0px; }
.s512.signs.bomb1                { background-position:   -0px -512px; }
.s512.signs.bubbling-potion      { background-position:   -0px -1024px; }
.s512.signs.electrical-shock3    { background-position:   -0px -1536px; }
.s512.signs.fan                  { background-position:   -0px -2048px; }
.s512.signs.fan2                 { background-position:   -0px -2560px; }
.s512.signs.fan3                 { background-position:   -0px -3072px; }
.s512.signs.fan4                 { background-position:   -0px -3584px; }
.s512.signs.fire-extinguisher    { background-position:   -0px -4096px; }
.s512.signs.first-aid            { background-position:   -0px -4608px; }
.s512.signs.first-aid1           { background-position:   -0px -5120px; }
.s512.signs.first-aid2           { background-position:   -0px -5632px; }
.s512.signs.gas-mask             { background-position:   -0px -6144px; }
.s512.signs.h-hospital           { background-position:   -0px -6656px; }
.s512.signs.hand-medical-aid     { background-position:   -0px -7168px; }
.s512.signs.hand-no2             { background-position:   -0px -7680px; }
.s512.signs.headset2             { background-position:   -0px -8192px; }
.s512.signs.life-preserver       { background-position:   -0px -8704px; }
.s512.signs.love-potion          { background-position:   -0px -9216px; }
.s512.signs.medical-alert        { background-position:   -0px -9728px; }
.s512.signs.medical-alert1       { background-position:   -0px -10240px; }
.s512.signs.medical-pharmacy-cup { background-position:   -0px -10752px; }
.s512.signs.no-smoking           { background-position:   -0px -11264px; }
.s512.signs.no-smoking1          { background-position:   -0px -11776px; }
.s512.signs.no-smoking2          { background-position:   -0px -12288px; }
.s512.signs.no-walking           { background-position:   -0px -12800px; }
.s512.signs.no-walking1          { background-position:   -0px -13312px; }
.s512.signs.nosign               { background-position:   -0px -13824px; }
.s512.signs.nosign1              { background-position:   -0px -14336px; }
.s512.signs.nuclear              { background-position:   -0px -14848px; }
.s512.signs.nuclear1             { background-position:   -0px -15360px; }
.s512.signs.place-of-interest    { background-position:   -0px -15872px; }
.s512.signs.prescription         { background-position:   -0px -16384px; }
.s512.signs.prescription1        { background-position:   -0px -16896px; }
.s512.signs.railroad-tracks      { background-position:   -0px -17408px; }
.s512.signs.recycle-sc45         { background-position:   -0px -17920px; }
.s512.signs.recycle              { background-position:   -0px -18432px; }
.s512.signs.road-dont-walk-hand  { background-position:   -0px -18944px; }
.s512.signs.road-dont-walk-word  { background-position:   -0px -19456px; }
.s512.signs.road-food-sc50       { background-position:   -0px -19968px; }
.s512.signs.road-stop-sign-sc44  { background-position:   -0px -20480px; }
.s512.signs.road-walk-person     { background-position:   -0px -20992px; }
.s512.signs.road-walk-word       { background-position:   -0px -21504px; }
.s512.signs.scale-sc2            { background-position:   -0px -22016px; }
.s512.signs.scale1               { background-position:   -0px -22528px; }
.s512.signs.sos-circled1-sc49    { background-position:   -0px -23040px; }
.s512.signs.stetoscope-sc43      { background-position:   -0px -23552px; }
.s512.signs.stop-lights2-sc46    { background-position:   -0px -24064px; }
.s512.signs.stop-lights2         { background-position:   -0px -24576px; }
.s512.signs.stop-sign-sc49       { background-position:   -0px -25088px; }
.s512.signs.stop-sign3           { background-position:   -0px -25600px; }
.s512.signs.test-tube            { background-position:   -0px -26112px; }
.s512.signs.thermometer          { background-position:   -0px -26624px; }
.s512.signs.vest                 { background-position:   -0px -27136px; }
.s512.signs.warning-biohazard    { background-position:   -0px -27648px; }
.s512.signs.warning-biohazard1   { background-position:   -0px -28160px; }
.s512.signs.warning-corossive    { background-position:   -0px -28672px; }
.s512.signs.warning-man-working-sc44 { background-position:   -0px -29184px; }
.s512.signs.warning-poison       { background-position:   -0px -29696px; }
.s512.signs.warning-poison1      { background-position:   -0px -30208px; }
.s512.signs.warning-radiation    { background-position:   -0px -30720px; }
.s512.signs.warning-radiation1   { background-position:   -0px -31232px; }
.s512.signs.warning-sign         { background-position:   -0px -31744px; }
.s512.signs.wheelchair           { background-position:   -0px -32256px; }
.s512.signs.z-parking-no-sc49    { background-position:   -0px -32768px; }
.s512.signs.z-parking-sc49       { background-position:   -0px -33280px; }
.s512.signs.z-roadsign10         { background-position:   -0px -33792px; }
.s512.signs.z-roadsign100        { background-position:   -0px -34304px; }
.s512.signs.z-roadsign101        { background-position:   -0px -34816px; }
.s512.signs.z-roadsign102        { background-position:   -0px -35328px; }
.s512.signs.z-roadsign103        { background-position:   -0px -35840px; }
.s512.signs.z-roadsign104        { background-position:   -0px -36352px; }
.s512.signs.z-roadsign105        { background-position:   -0px -36864px; }
.s512.signs.z-roadsign11         { background-position:   -0px -37376px; }
.s512.signs.z-roadsign12         { background-position:   -0px -37888px; }
.s512.signs.z-roadsign13         { background-position:   -0px -38400px; }
.s512.signs.z-roadsign14         { background-position:   -0px -38912px; }
.s512.signs.z-roadsign15         { background-position:   -0px -39424px; }
.s512.signs.z-roadsign16         { background-position:   -0px -39936px; }
.s512.signs.z-roadsign17         { background-position:   -0px -40448px; }
.s512.signs.z-roadsign18         { background-position:   -0px -40960px; }
.s512.signs.z-roadsign19         { background-position:   -0px -41472px; }
.s512.signs.z-roadsign2          { background-position:   -0px -41984px; }
.s512.signs.z-roadsign20         { background-position:   -0px -42496px; }
.s512.signs.z-roadsign21         { background-position:   -0px -43008px; }
.s512.signs.z-roadsign22         { background-position:   -0px -43520px; }
.s512.signs.z-roadsign23         { background-position:   -0px -44032px; }
.s512.signs.z-roadsign24         { background-position:   -0px -44544px; }
.s512.signs.z-roadsign25         { background-position:   -0px -45056px; }
.s512.signs.z-roadsign26         { background-position:   -0px -45568px; }
.s512.signs.z-roadsign27         { background-position:   -0px -46080px; }
.s512.signs.z-roadsign28         { background-position:   -0px -46592px; }
.s512.signs.z-roadsign29         { background-position:   -0px -47104px; }
.s512.signs.z-roadsign30         { background-position:   -0px -47616px; }
.s512.signs.z-roadsign33         { background-position:   -0px -48128px; }
.s512.signs.z-roadsign34         { background-position:   -0px -48640px; }
.s512.signs.z-roadsign36         { background-position:   -0px -49152px; }
.s512.signs.z-roadsign37         { background-position:   -0px -49664px; }
.s512.signs.z-roadsign38         { background-position:   -0px -50176px; }
.s512.signs.z-roadsign39         { background-position:   -0px -50688px; }
.s512.signs.z-roadsign40         { background-position:   -0px -51200px; }
.s512.signs.z-roadsign42         { background-position:   -0px -51712px; }
.s512.signs.z-roadsign43         { background-position:   -0px -52224px; }
.s512.signs.z-roadsign44         { background-position:   -0px -52736px; }
.s512.signs.z-roadsign45         { background-position:   -0px -53248px; }
.s512.signs.z-roadsign46         { background-position:   -0px -53760px; }
.s512.signs.z-roadsign47         { background-position:   -0px -54272px; }
.s512.signs.z-roadsign51         { background-position:   -0px -54784px; }
.s512.signs.z-roadsign52         { background-position:   -0px -55296px; }
.s512.signs.z-roadsign53         { background-position:   -0px -55808px; }
.s512.signs.z-roadsign54         { background-position:   -0px -56320px; }
.s512.signs.z-roadsign56         { background-position:   -0px -56832px; }
.s512.signs.z-roadsign57         { background-position:   -0px -57344px; }
.s512.signs.z-roadsign58         { background-position:   -0px -57856px; }
.s512.signs.z-roadsign59         { background-position:   -0px -58368px; }
.s512.signs.z-roadsign60         { background-position:   -0px -58880px; }
.s512.signs.z-roadsign61         { background-position:   -0px -59392px; }
.s512.signs.z-roadsign63         { background-position:   -0px -59904px; }
.s512.signs.z-roadsign64         { background-position:   -0px -60416px; }
.s512.signs.z-roadsign65         { background-position:   -0px -60928px; }
.s512.signs.z-roadsign66         { background-position:   -0px -61440px; }
.s512.signs.z-roadsign67         { background-position:   -0px -61952px; }
.s512.signs.z-roadsign68         { background-position:   -0px -62464px; }
.s512.signs.z-roadsign69         { background-position:   -0px -62976px; }
.s512.signs.z-roadsign70         { background-position:   -0px -63488px; }
.s512.signs.z-roadsign71         { background-position:   -0px -64000px; }
.s512.signs.z-roadsign72         { background-position:   -0px -64512px; }
.s512.signs.z-roadsign73         { background-position:   -0px -65024px; }
.s512.signs.z-roadsign74         { background-position:   -0px -65536px; }
.s512.signs.z-roadsign75         { background-position:   -0px -66048px; }
.s512.signs.z-roadsign76         { background-position:   -0px -66560px; }
.s512.signs.z-roadsign77         { background-position:   -0px -67072px; }
.s512.signs.z-roadsign78         { background-position:   -0px -67584px; }
.s512.signs.z-roadsign79         { background-position:   -0px -68096px; }
.s512.signs.z-roadsign8          { background-position:   -0px -68608px; }
.s512.signs.z-roadsign81         { background-position:   -0px -69120px; }
.s512.signs.z-roadsign82         { background-position:   -0px -69632px; }
.s512.signs.z-roadsign83         { background-position:   -0px -70144px; }
.s512.signs.z-roadsign84         { background-position:   -0px -70656px; }
.s512.signs.z-roadsign85         { background-position:   -0px -71168px; }
.s512.signs.z-roadsign86         { background-position:   -0px -71680px; }
.s512.signs.z-roadsign88         { background-position:   -0px -72192px; }
.s512.signs.z-roadsign9          { background-position:   -0px -72704px; }
.s512.signs.z-roadsign90         { background-position:   -0px -73216px; }
.s512.signs.z-roadsign91         { background-position:   -0px -73728px; }
.s512.signs.z-roadsign92         { background-position:   -0px -74240px; }
.s512.signs.z-roadsign93         { background-position:   -0px -74752px; }
.s512.signs.z-roadsign94         { background-position:   -0px -75264px; }
.s512.signs.z-roadsign95         { background-position:   -0px -75776px; }
.s512.signs.z-roadsign96         { background-position:   -0px -76288px; }
.s512.signs.z-roadsign97         { background-position:   -0px -76800px; }
.s512.signs.z-roadsign98         { background-position:   -0px -77312px; }
.s512.signs.z-roadsign99         { background-position:   -0px -77824px; }
