.s512.sports                      {
    background-image: url("512x512/sports.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.sports.art-palette-sc44     { background-position:   -0px   -0px; }
.s512.sports.art-palette1-sc44    { background-position:   -0px -512px; }
.s512.sports.backpack             { background-position:   -0px -1024px; }
.s512.sports.backpack1-sc43       { background-position:   -0px -1536px; }
.s512.sports.ball-basketball      { background-position:   -0px -2048px; }
.s512.sports.ball-beach           { background-position:   -0px -2560px; }
.s512.sports.ball-football        { background-position:   -0px -3072px; }
.s512.sports.ball-golf            { background-position:   -0px -3584px; }
.s512.sports.ball-soccer          { background-position:   -0px -4096px; }
.s512.sports.ball-soccer1         { background-position:   -0px -4608px; }
.s512.sports.ball-tennis          { background-position:   -0px -5120px; }
.s512.sports.ball                 { background-position:   -0px -5632px; }
.s512.sports.basketball-net       { background-position:   -0px -6144px; }
.s512.sports.basketball           { background-position:   -0px -6656px; }
.s512.sports.billiards            { background-position:   -0px -7168px; }
.s512.sports.bowling              { background-position:   -0px -7680px; }
.s512.sports.boxing-glove         { background-position:   -0px -8192px; }
.s512.sports.boxing-glove1        { background-position:   -0px -8704px; }
.s512.sports.brush2               { background-position:   -0px -9216px; }
.s512.sports.brush57              { background-position:   -0px -9728px; }
.s512.sports.brush58-ps           { background-position:   -0px -10240px; }
.s512.sports.campground           { background-position:   -0px -10752px; }
.s512.sports.camping-tent43-sc43  { background-position:   -0px -11264px; }
.s512.sports.camping              { background-position:   -0px -11776px; }
.s512.sports.card-club1-sc48      { background-position:   -0px -12288px; }
.s512.sports.card-diamond1-sc48   { background-position:   -0px -12800px; }
.s512.sports.card-heart1-sc48     { background-position:   -0px -13312px; }
.s512.sports.card-spade1-sc48     { background-position:   -0px -13824px; }
.s512.sports.chess-bishop2-sc51   { background-position:   -0px -14336px; }
.s512.sports.chess-castle2-sc51   { background-position:   -0px -14848px; }
.s512.sports.chess-horse2-sc51    { background-position:   -0px -15360px; }
.s512.sports.chess-king2-sc51     { background-position:   -0px -15872px; }
.s512.sports.chess-pawn2-sc51     { background-position:   -0px -16384px; }
.s512.sports.chess-queen1-sc51    { background-position:   -0px -16896px; }
.s512.sports.cup-trophy           { background-position:   -0px -17408px; }
.s512.sports.cup-trophy1          { background-position:   -0px -17920px; }
.s512.sports.cup-trophy2-sc43     { background-position:   -0px -18432px; }
.s512.sports.film-clapper         { background-position:   -0px -18944px; }
.s512.sports.film-clapper1-sc44   { background-position:   -0px -19456px; }
.s512.sports.film-projector       { background-position:   -0px -19968px; }
.s512.sports.film-reel            { background-position:   -0px -20480px; }
.s512.sports.film-reel1-ps        { background-position:   -0px -20992px; }
.s512.sports.film-roll            { background-position:   -0px -21504px; }
.s512.sports.film-strip2          { background-position:   -0px -22016px; }
.s512.sports.filmmaker1-sc44      { background-position:   -0px -22528px; }
.s512.sports.filmmaker2-sc49      { background-position:   -0px -23040px; }
.s512.sports.filmstrip            { background-position:   -0px -23552px; }
.s512.sports.fishing-hook-sc48    { background-position:   -0px -24064px; }
.s512.sports.fishing-sc46         { background-position:   -0px -24576px; }
.s512.sports.flag-2               { background-position:   -0px -25088px; }
.s512.sports.flag-race1           { background-position:   -0px -25600px; }
.s512.sports.flag-race2-sc49      { background-position:   -0px -26112px; }
.s512.sports.flag                 { background-position:   -0px -26624px; }
.s512.sports.flag4-sc49           { background-position:   -0px -27136px; }
.s512.sports.flag5-sc49           { background-position:   -0px -27648px; }
.s512.sports.flag6-sc49           { background-position:   -0px -28160px; }
.s512.sports.gameboy              { background-position:   -0px -28672px; }
.s512.sports.golf-course          { background-position:   -0px -29184px; }
.s512.sports.helmet               { background-position:   -0px -29696px; }
.s512.sports.helmet1-sc43         { background-position:   -0px -30208px; }
.s512.sports.horseback-riding     { background-position:   -0px -30720px; }
.s512.sports.horseback-riding222  { background-position:   -0px -31232px; }
.s512.sports.horseshoe            { background-position:   -0px -31744px; }
.s512.sports.horseshoe1           { background-position:   -0px -32256px; }
.s512.sports.hot-air-balloon      { background-position:   -0px -32768px; }
.s512.sports.hot-air-balloon1-sc44 { background-position:   -0px -33280px; }
.s512.sports.marker               { background-position:   -0px -33792px; }
.s512.sports.mask-sc44            { background-position:   -0px -34304px; }
.s512.sports.mask2-sc44           { background-position:   -0px -34816px; }
.s512.sports.masks-sc37           { background-position:   -0px -35328px; }
.s512.sports.medal                { background-position:   -0px -35840px; }
.s512.sports.medal3               { background-position:   -0px -36352px; }
.s512.sports.medal4               { background-position:   -0px -36864px; }
.s512.sports.paddle1-sc43         { background-position:   -0px -37376px; }
.s512.sports.parachute            { background-position:   -0px -37888px; }
.s512.sports.parachute1           { background-position:   -0px -38400px; }
.s512.sports.party                { background-position:   -0px -38912px; }
.s512.sports.people-ballet-dancer { background-position:   -0px -39424px; }
.s512.sports.people-baseball      { background-position:   -0px -39936px; }
.s512.sports.people-baseball2-sc37 { background-position:   -0px -40448px; }
.s512.sports.people-basketball23-sc29 { background-position:   -0px -40960px; }
.s512.sports.people-bicycle2-sc37 { background-position:   -0px -41472px; }
.s512.sports.people-bicycling     { background-position:   -0px -41984px; }
.s512.sports.people-break-dancing { background-position:   -0px -42496px; }
.s512.sports.people-guitar-man    { background-position:   -0px -43008px; }
.s512.sports.people-guitar-man2   { background-position:   -0px -43520px; }
.s512.sports.people-guitar-woman2 { background-position:   -0px -44032px; }
.s512.sports.people-hikers1       { background-position:   -0px -44544px; }
.s512.sports.people-hiking        { background-position:   -0px -45056px; }
.s512.sports.people-hockey        { background-position:   -0px -45568px; }
.s512.sports.people-hockey1-sc37  { background-position:   -0px -46080px; }
.s512.sports.people-karate        { background-position:   -0px -46592px; }
.s512.sports.people-man-runner    { background-position:   -0px -47104px; }
.s512.sports.people-martial-arts  { background-position:   -0px -47616px; }
.s512.sports.people-runner        { background-position:   -0px -48128px; }
.s512.sports.people-running       { background-position:   -0px -48640px; }
.s512.sports.people-skateboarder  { background-position:   -0px -49152px; }
.s512.sports.people-skier         { background-position:   -0px -49664px; }
.s512.sports.people-skier1        { background-position:   -0px -50176px; }
.s512.sports.people-skier11-sc37  { background-position:   -0px -50688px; }
.s512.sports.people-skier2        { background-position:   -0px -51200px; }
.s512.sports.people-skiing1       { background-position:   -0px -51712px; }
.s512.sports.people-snowboard1    { background-position:   -0px -52224px; }
.s512.sports.people-snowboarder   { background-position:   -0px -52736px; }
.s512.sports.people-soccer2-sc37  { background-position:   -0px -53248px; }
.s512.sports.people-tennis        { background-position:   -0px -53760px; }
.s512.sports.people-volleyball    { background-position:   -0px -54272px; }
.s512.sports.people-woman-runner  { background-position:   -0px -54784px; }
.s512.sports.people-yoga          { background-position:   -0px -55296px; }
.s512.sports.pingpong             { background-position:   -0px -55808px; }
.s512.sports.racket-tennis        { background-position:   -0px -56320px; }
.s512.sports.racket               { background-position:   -0px -56832px; }
.s512.sports.remote-control-sc52  { background-position:   -0px -57344px; }
.s512.sports.ribbon1              { background-position:   -0px -57856px; }
.s512.sports.ribbon2              { background-position:   -0px -58368px; }
.s512.sports.sailboat3-sc5        { background-position:   -0px -58880px; }
.s512.sports.sailboat5-sc44       { background-position:   -0px -59392px; }
.s512.sports.sailboat6-sc44       { background-position:   -0px -59904px; }
.s512.sports.sailboat7-sc44       { background-position:   -0px -60416px; }
.s512.sports.sailboat9-sc57       { background-position:   -0px -60928px; }
.s512.sports.shoe-iceskate1-sc43  { background-position:   -0px -61440px; }
.s512.sports.shoe-roller-blade1-sc43 { background-position:   -0px -61952px; }
.s512.sports.skateboard           { background-position:   -0px -62464px; }
.s512.sports.skis                 { background-position:   -0px -62976px; }
.s512.sports.sport-baseball-bat-sc43 { background-position:   -0px -63488px; }
.s512.sports.sport-billiard-sc52  { background-position:   -0px -64000px; }
.s512.sports.sport-unknown-sc43   { background-position:   -0px -64512px; }
.s512.sports.target1-sc44         { background-position:   -0px -65024px; }
.s512.sports.target2-sc43         { background-position:   -0px -65536px; }
.s512.sports.target3-sc43         { background-position:   -0px -66048px; }
.s512.sports.weaving-sc44         { background-position:   -0px -66560px; }
.s512.sports.weight-lifting1-sc43 { background-position:   -0px -67072px; }
.s512.sports.weight-lifting2-sc43 { background-position:   -0px -67584px; }
