.s512.symbols                      {
    background-image: url("512x512/symbols.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.symbols.anchor1              { background-position:   -0px   -0px; }
.s512.symbols.anchor4              { background-position:   -0px -512px; }
.s512.symbols.badge-sc48           { background-position:   -0px -1024px; }
.s512.symbols.check-box-ps         { background-position:   -0px -1536px; }
.s512.symbols.check-in-box         { background-position:   -0px -2048px; }
.s512.symbols.check-mark           { background-position:   -0px -2560px; }
.s512.symbols.check-mark4          { background-position:   -0px -3072px; }
.s512.symbols.check-mark5-ps       { background-position:   -0px -3584px; }
.s512.symbols.check-mark6-ps       { background-position:   -0px -4096px; }
.s512.symbols.check-mark8-sc44     { background-position:   -0px -4608px; }
.s512.symbols.checkmark-solid-circle { background-position:   -0px -5120px; }
.s512.symbols.circle-clear         { background-position:   -0px -5632px; }
.s512.symbols.circle-solid         { background-position:   -0px -6144px; }
.s512.symbols.comment-bubble       { background-position:   -0px -6656px; }
.s512.symbols.comment-bubble2      { background-position:   -0px -7168px; }
.s512.symbols.comment-bubbles      { background-position:   -0px -7680px; }
.s512.symbols.comment-bubbles3     { background-position:   -0px -8192px; }
.s512.symbols.cube                 { background-position:   -0px -8704px; }
.s512.symbols.decor1               { background-position:   -0px -9216px; }
.s512.symbols.decor2               { background-position:   -0px -9728px; }
.s512.symbols.decor3               { background-position:   -0px -10240px; }
.s512.symbols.decor4               { background-position:   -0px -10752px; }
.s512.symbols.decor5               { background-position:   -0px -11264px; }
.s512.symbols.decor6               { background-position:   -0px -11776px; }
.s512.symbols.decor7               { background-position:   -0px -12288px; }
.s512.symbols.decor8               { background-position:   -0px -12800px; }
.s512.symbols.female-symbol        { background-position:   -0px -13312px; }
.s512.symbols.female-symbol2-sc48  { background-position:   -0px -13824px; }
.s512.symbols.male-symbol1-sc48    { background-position:   -0px -14336px; }
.s512.symbols.male-symbol3         { background-position:   -0px -14848px; }
.s512.symbols.maximize-button      { background-position:   -0px -15360px; }
.s512.symbols.minimize             { background-position:   -0px -15872px; }
.s512.symbols.peace-sign-ttf       { background-position:   -0px -16384px; }
.s512.symbols.peace-sign2-ttf      { background-position:   -0px -16896px; }
.s512.symbols.power-button         { background-position:   -0px -17408px; }
.s512.symbols.power-button1        { background-position:   -0px -17920px; }
.s512.symbols.power-button2        { background-position:   -0px -18432px; }
.s512.symbols.power-button3        { background-position:   -0px -18944px; }
.s512.symbols.puzzle-horizontal    { background-position:   -0px -19456px; }
.s512.symbols.puzzle-vertical      { background-position:   -0px -19968px; }
.s512.symbols.puzzle3-ps           { background-position:   -0px -20480px; }
.s512.symbols.puzzle4-ps           { background-position:   -0px -20992px; }
.s512.symbols.royal                { background-position:   -0px -21504px; }
.s512.symbols.shape-square-clear   { background-position:   -0px -22016px; }
.s512.symbols.shape-square-frame   { background-position:   -0px -22528px; }
.s512.symbols.shape-stop-button-clear { background-position:   -0px -23040px; }
.s512.symbols.shape-stop-button    { background-position:   -0px -23552px; }
.s512.symbols.shapes-circle-clear  { background-position:   -0px -24064px; }
.s512.symbols.shapes-circle-frame  { background-position:   -0px -24576px; }
.s512.symbols.shapes-circle-target { background-position:   -0px -25088px; }
.s512.symbols.shapes-circle        { background-position:   -0px -25600px; }
.s512.symbols.shapes-diamond-frame { background-position:   -0px -26112px; }
.s512.symbols.shapes-diamond       { background-position:   -0px -26624px; }
.s512.symbols.shapes-hexagon-frame { background-position:   -0px -27136px; }
.s512.symbols.shapes-hexagon       { background-position:   -0px -27648px; }
.s512.symbols.shapes-octagon       { background-position:   -0px -28160px; }
.s512.symbols.shapes-toggle-down   { background-position:   -0px -28672px; }
.s512.symbols.shapes-toggle-up     { background-position:   -0px -29184px; }
.s512.symbols.shield               { background-position:   -0px -29696px; }
.s512.symbols.smiley-face1         { background-position:   -0px -30208px; }
.s512.symbols.smiley-face2         { background-position:   -0px -30720px; }
.s512.symbols.smiley-face3         { background-position:   -0px -31232px; }
.s512.symbols.smiley-face4         { background-position:   -0px -31744px; }
.s512.symbols.smiley-happy         { background-position:   -0px -32256px; }
.s512.symbols.smiley-happy2        { background-position:   -0px -32768px; }
.s512.symbols.smiley-sad           { background-position:   -0px -33280px; }
.s512.symbols.smileyfacesad        { background-position:   -0px -33792px; }
.s512.symbols.smilley-grin-face    { background-position:   -0px -34304px; }
.s512.symbols.smilley-happy-face   { background-position:   -0px -34816px; }
.s512.symbols.spinner1             { background-position:   -0px -35328px; }
.s512.symbols.spinner2-sc30        { background-position:   -0px -35840px; }
.s512.symbols.spinner3-sc36        { background-position:   -0px -36352px; }
.s512.symbols.spinner4-sc36        { background-position:   -0px -36864px; }
.s512.symbols.spinner5-sc36        { background-position:   -0px -37376px; }
.s512.symbols.spinner6-sc36        { background-position:   -0px -37888px; }
.s512.symbols.spinner7-sc36        { background-position:   -0px -38400px; }
.s512.symbols.spinner8-sc36        { background-position:   -0px -38912px; }
.s512.symbols.spinner9-sc36        { background-position:   -0px -39424px; }
.s512.symbols.spiral               { background-position:   -0px -39936px; }
.s512.symbols.spiral1              { background-position:   -0px -40448px; }
.s512.symbols.square-download      { background-position:   -0px -40960px; }
.s512.symbols.square               { background-position:   -0px -41472px; }
.s512.symbols.thought-bubble-ps    { background-position:   -0px -41984px; }
.s512.symbols.thought-bubble1-ps   { background-position:   -0px -42496px; }
.s512.symbols.thought-bubble1-sc37 { background-position:   -0px -43008px; }
.s512.symbols.thought-bubble3-sc31 { background-position:   -0px -43520px; }
.s512.symbols.thought-bubble4-sc31 { background-position:   -0px -44032px; }
.s512.symbols.tile                 { background-position:   -0px -44544px; }
.s512.symbols.tile1-ps             { background-position:   -0px -45056px; }
.s512.symbols.tile2                { background-position:   -0px -45568px; }
.s512.symbols.tile3                { background-position:   -0px -46080px; }
.s512.symbols.tile4-sc36           { background-position:   -0px -46592px; }
