.s512.wonders                      {
    background-image: url("512x512/wonders.png");
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    padding: 64px 0 0 512px;
    height: 512px;
    font-size: 384px;
}
.s512.wonders.acorn-sc48           { background-position:   -0px   -0px; }
.s512.wonders.cactus-sc48          { background-position:   -0px -512px; }
.s512.wonders.fire                 { background-position:   -0px -1024px; }
.s512.wonders.fire1                { background-position:   -0px -1536px; }
.s512.wonders.fire2                { background-position:   -0px -2048px; }
.s512.wonders.fire3                { background-position:   -0px -2560px; }
.s512.wonders.flower-cauliflower   { background-position:   -0px -3072px; }
.s512.wonders.flower-rose-sc44     { background-position:   -0px -3584px; }
.s512.wonders.flower1              { background-position:   -0px -4096px; }
.s512.wonders.flower10-sc30        { background-position:   -0px -4608px; }
.s512.wonders.flower11-sc30        { background-position:   -0px -5120px; }
.s512.wonders.flower13-sc36        { background-position:   -0px -5632px; }
.s512.wonders.flower14-sc48        { background-position:   -0px -6144px; }
.s512.wonders.flower15-sc48        { background-position:   -0px -6656px; }
.s512.wonders.flower16-sc52        { background-position:   -0px -7168px; }
.s512.wonders.flower17             { background-position:   -0px -7680px; }
.s512.wonders.flower2              { background-position:   -0px -8192px; }
.s512.wonders.flower21-sc44        { background-position:   -0px -8704px; }
.s512.wonders.flower22-sc44        { background-position:   -0px -9216px; }
.s512.wonders.flower25-sc44        { background-position:   -0px -9728px; }
.s512.wonders.flower26-sc44        { background-position:   -0px -10240px; }
.s512.wonders.flower27-sc44        { background-position:   -0px -10752px; }
.s512.wonders.flower28-sc44        { background-position:   -0px -11264px; }
.s512.wonders.flower29-sc44        { background-position:   -0px -11776px; }
.s512.wonders.flower3              { background-position:   -0px -12288px; }
.s512.wonders.flower30             { background-position:   -0px -12800px; }
.s512.wonders.flower4              { background-position:   -0px -13312px; }
.s512.wonders.flower5              { background-position:   -0px -13824px; }
.s512.wonders.flower6              { background-position:   -0px -14336px; }
.s512.wonders.flower7              { background-position:   -0px -14848px; }
.s512.wonders.flower8              { background-position:   -0px -15360px; }
.s512.wonders.flower9              { background-position:   -0px -15872px; }
.s512.wonders.grass1               { background-position:   -0px -16384px; }
.s512.wonders.icon_131             { background-position:   -0px -16896px; }
.s512.wonders.landscape1           { background-position:   -0px -17408px; }
.s512.wonders.landscape3-sc52      { background-position:   -0px -17920px; }
.s512.wonders.leaf-shamrock        { background-position:   -0px -18432px; }
.s512.wonders.leaf                 { background-position:   -0px -18944px; }
.s512.wonders.leaf12-sc44          { background-position:   -0px -19456px; }
.s512.wonders.leaf13-sc44          { background-position:   -0px -19968px; }
.s512.wonders.leaf15-sc5           { background-position:   -0px -20480px; }
.s512.wonders.leaf2                { background-position:   -0px -20992px; }
.s512.wonders.leaf3                { background-position:   -0px -21504px; }
.s512.wonders.leaf4-sc44           { background-position:   -0px -22016px; }
.s512.wonders.leaf5-sc44           { background-position:   -0px -22528px; }
.s512.wonders.leaf6-sc44           { background-position:   -0px -23040px; }
.s512.wonders.leaf7-sc44           { background-position:   -0px -23552px; }
.s512.wonders.leaf9-sc44           { background-position:   -0px -24064px; }
.s512.wonders.leaves-sc49          { background-position:   -0px -24576px; }
.s512.wonders.lightning1-ps        { background-position:   -0px -25088px; }
.s512.wonders.lightning2-sc48      { background-position:   -0px -25600px; }
.s512.wonders.moon-and-planets     { background-position:   -0px -26112px; }
.s512.wonders.moon-eclipse         { background-position:   -0px -26624px; }
.s512.wonders.moon-eclipse1-sc37   { background-position:   -0px -27136px; }
.s512.wonders.moon-with-stars      { background-position:   -0px -27648px; }
.s512.wonders.moon                 { background-position:   -0px -28160px; }
.s512.wonders.moon1                { background-position:   -0px -28672px; }
.s512.wonders.moon2                { background-position:   -0px -29184px; }
.s512.wonders.moon3                { background-position:   -0px -29696px; }
.s512.wonders.moon4                { background-position:   -0px -30208px; }
.s512.wonders.moon7-sc48           { background-position:   -0px -30720px; }
.s512.wonders.planet               { background-position:   -0px -31232px; }
.s512.wonders.planet1              { background-position:   -0px -31744px; }
.s512.wonders.planet2-sc37         { background-position:   -0px -32256px; }
.s512.wonders.planet3-sc48         { background-position:   -0px -32768px; }
.s512.wonders.plant-sc45           { background-position:   -0px -33280px; }
.s512.wonders.plant1-sc52          { background-position:   -0px -33792px; }
.s512.wonders.rain-cloud           { background-position:   -0px -34304px; }
.s512.wonders.rain-cloud1          { background-position:   -0px -34816px; }
.s512.wonders.raindrop1-sc52       { background-position:   -0px -35328px; }
.s512.wonders.raindrop2            { background-position:   -0px -35840px; }
.s512.wonders.raindrop3            { background-position:   -0px -36352px; }
.s512.wonders.raindrop6-sc25       { background-position:   -0px -36864px; }
.s512.wonders.snowflake            { background-position:   -0px -37376px; }
.s512.wonders.snowflake1           { background-position:   -0px -37888px; }
.s512.wonders.snowflake3-sc37      { background-position:   -0px -38400px; }
.s512.wonders.snowflake4-sc37      { background-position:   -0px -38912px; }
.s512.wonders.snowflake5-sc48      { background-position:   -0px -39424px; }
.s512.wonders.snowflakes6-sc37     { background-position:   -0px -39936px; }
.s512.wonders.snowflakes7          { background-position:   -0px -40448px; }
.s512.wonders.star-four-point      { background-position:   -0px -40960px; }
.s512.wonders.star1                { background-position:   -0px -41472px; }
.s512.wonders.star10               { background-position:   -0px -41984px; }
.s512.wonders.star14               { background-position:   -0px -42496px; }
.s512.wonders.star16-solid         { background-position:   -0px -43008px; }
.s512.wonders.star2                { background-position:   -0px -43520px; }
.s512.wonders.star3                { background-position:   -0px -44032px; }
.s512.wonders.star4                { background-position:   -0px -44544px; }
.s512.wonders.star5                { background-position:   -0px -45056px; }
.s512.wonders.star6-ps             { background-position:   -0px -45568px; }
.s512.wonders.star8-sc48           { background-position:   -0px -46080px; }
.s512.wonders.star9-sc30           { background-position:   -0px -46592px; }
.s512.wonders.starburst            { background-position:   -0px -47104px; }
.s512.wonders.starburst1           { background-position:   -0px -47616px; }
.s512.wonders.starburst2           { background-position:   -0px -48128px; }
.s512.wonders.stars11              { background-position:   -0px -48640px; }
.s512.wonders.stars12              { background-position:   -0px -49152px; }
.s512.wonders.stars13              { background-position:   -0px -49664px; }
.s512.wonders.stars15-in-circle    { background-position:   -0px -50176px; }
.s512.wonders.sun                  { background-position:   -0px -50688px; }
.s512.wonders.sun10-sc37           { background-position:   -0px -51200px; }
.s512.wonders.sun11                { background-position:   -0px -51712px; }
.s512.wonders.sun12-sc48           { background-position:   -0px -52224px; }
.s512.wonders.sun13-sc25           { background-position:   -0px -52736px; }
.s512.wonders.sun2                 { background-position:   -0px -53248px; }
.s512.wonders.sun3                 { background-position:   -0px -53760px; }
.s512.wonders.sun6                 { background-position:   -0px -54272px; }
.s512.wonders.sun7-ps              { background-position:   -0px -54784px; }
.s512.wonders.sun8-sc36            { background-position:   -0px -55296px; }
.s512.wonders.sun9-sc37            { background-position:   -0px -55808px; }
.s512.wonders.sunface              { background-position:   -0px -56320px; }
.s512.wonders.sunface3-sc5         { background-position:   -0px -56832px; }
.s512.wonders.sunrise1-sc1         { background-position:   -0px -57344px; }
.s512.wonders.tree-bonsai1-sc44    { background-position:   -0px -57856px; }
.s512.wonders.tree-palm1           { background-position:   -0px -58368px; }
.s512.wonders.tree-palm2           { background-position:   -0px -58880px; }
.s512.wonders.tree-palm3           { background-position:   -0px -59392px; }
.s512.wonders.tree-palm4           { background-position:   -0px -59904px; }
.s512.wonders.tree2                { background-position:   -0px -60416px; }
.s512.wonders.tree5                { background-position:   -0px -60928px; }
.s512.wonders.tree7-sc44           { background-position:   -0px -61440px; }
.s512.wonders.tree8                { background-position:   -0px -61952px; }
.s512.wonders.tree9                { background-position:   -0px -62464px; }
